html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@at-root {
  @-moz-viewport      { width: device-width; }
  @-ms-viewport       { width: device-width; }
  @-o-viewport        { width: device-width; }
  @-webkit-viewport   { width: device-width; }
  @viewport           { width: device-width; }
}

html {
  font-size: $font-size-root;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-default;
  line-height: $line-height-default;
  font-weight: $font-weight-base;
  color: $color-text-darkest;

  background-color: $color-background-page;

  &.white {
    background-color: $color-background-default;
  }
}

.container {
  margin: 0 auto;
  max-width: $container-width-default + ($spacer-horizontal-page * 2);
  padding: 0 $spacer-horizontal-page;

  @include from(tablet) {
    max-width: $container-width-portrait + ($spacer-horizontal-page * 2);
  }

  @include from(desktop) {
    max-width: $container-width-default + ($spacer-horizontal-page * 2);
  }

  @include from(big) {
    max-width: $container-width-big + ($spacer-horizontal-page * 2);
  }

  @include from(large) {
    max-width: $container-width-large + ($spacer-horizontal-page * 2);
  }

  @include from(huge) {
    max-width: $container-width-huge + ($spacer-horizontal-page * 2);
  }

  &--padded {
    padding-top: $spacer-size-default;
    padding-bottom: $spacer-size-default;
  }

  &--narrow {
    max-width: $container-width-default + ($spacer-horizontal-page * 2);
  }
}

//
// Conditional visibility
//

@each $name, $size in $viewports {
  .hide__until--#{$name} {
    @include until($name) {
      display: none !important;
    }
  }

  .hide__upto--#{$name} {
    @include upto($name) {
      display: none !important;
    }
  }

  .hide__from--#{$name} {
    @include from($name) {
      display: none !important;
    }
  }
}

//
// Conditional centering
//

@each $name, $size in $viewports {
  .center__until--#{$name} {
    @include until($name) {
      text-align: center;
    }
  }

  .center__upto--#{$name} {
    @include upto($name) {
      text-align: center;
    }
  }

  .center__from--#{$name} {
    @include from($name) {
      text-align: center;
    }
  }
}

.logo {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  background-image: url("../img/logo.svg");
  background-position: center center;
  background-size: 134px 38px;
  min-width: 134px;
  width: calc(100% - 80px);
  background-repeat: no-repeat;
  text-indent: -3999px;

  @include until(phablet) {
    background-size: 130px 36px;
  }

  @include until(tablet) {
    position: relative;
    left: 1rem;
  }
}

.table {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  color: $color-text-default;
  table-layout: fixed;

  & + a {
    margin: 2rem 0;
    float: right;
  }

  & > thead {
    background-color: $color-background-page;

    & th {
      padding: .375rem;
      text-align: center;

      &:first-child {
        width: 44%;
        text-align: left;
        padding-left: 1rem;
      }
    }
  }

  & > tbody {
    & td {
      border-bottom: 1px solid $color-border-lightest;
      padding: .375rem;
      text-align: center;
      height: 2.5rem;

      &:first-child {
        text-align: left;
        padding-left: 1rem;

        width: 44%;

        @include from(desktop) {
          width: 24%;
        }
      }

      & > img {
        max-height: 3rem;
      }
    }
  }
}

