html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@at-root {
  @-moz-viewport      { width: device-width; }
  @-ms-viewport       { width: device-width; }
  @-o-viewport        { width: device-width; }
  @-webkit-viewport   { width: device-width; }
  @viewport           { width: device-width; }
}

html {
  font-size: $font-size-root;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-default;
  line-height: $line-height-default;
  font-weight: $font-weight-base;
  color: $color-text-darkest;
  background-color: $color-background-default;
}

.container {
  margin: 0 auto;
  max-width: $container-width-default + ($spacer-horizontal-page * 2);
  padding: 0 $spacer-horizontal-page;

  @include from(tablet) {
    max-width: $container-width-portrait + ($spacer-horizontal-page * 2);
  }

  @include from(desktop) {
    max-width: $container-width-default + ($spacer-horizontal-page * 2);
  }

  @include from(big) {
    max-width: $container-width-big + ($spacer-horizontal-page * 2);
  }

  @include from(large) {
    max-width: $container-width-large + ($spacer-horizontal-page * 2);
  }

  @include from(huge) {
    max-width: $container-width-huge + ($spacer-horizontal-page * 2);
  }
}

//
// Conditional visibility
//

@each $name, $size in $viewports {
  .hide__until--#{$name} {
    @include until($name) {
      display: none !important;
    }
  }

  .hide__upto--#{$name} {
    @include upto($name) {
      display: none !important;
    }
  }

  .hide__from--#{$name} {
    @include from($name) {
      display: none !important;
    }
  }
}

.logo {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  background-image: url("../img/logo.svg");
  background-position: center center;
  background-size: 134px 38px;
  min-width: 134px;
  width: calc(100% - 80px);
  background-repeat: no-repeat;
  text-indent: -3999px;

  @include until(phablet) {
    background-size: 130px 36px;
  }

  @include until(tablet) {
    position: relative;
    left: 1rem;
  }
}

.content {
  margin-top: 3.125rem;

  @include from(tablet) {
    margin-top: 6.875rem;
  }

  @include from(big) {
    margin-top: 9.625rem;
  }
}
