.columns {
  display: flex;
  flex-direction: row;

  @each $name, $size in $viewports {
    &__from--#{$name} {
      flex-direction: column;

      @include from($name) {
        flex-direction: row;
      }
    }

    &__reverse-from--#{$name} {
      flex-direction: column;

      @include from($name) {
        flex-direction: row-reverse;
      }
    }

    &__reverse-until--#{$name} {
      flex-direction: column;

      @include until($name) {
        flex-direction: row-reverse;
      }
    }

    &__between {
      &--#{$name} {
        @each $name2, $size2 in $viewports {
          @if $size < $size2 {
            &-#{$name2} {
              flex-direction: column;

              @include between($name, $name2) {
                flex-direction: row;
              }
            }
          }
        }
      }
    }


  }

  & > * {
    flex-grow: 1;
    flex-basis: auto;
  }

  &--sidebar {
    & > *:last-child {
      flex-grow: 0;
    }
  }

  &--sidebar-first {
    & > *:first-child {
      flex-grow: 0;
    }
  }

  &--gravity {
    justify-content: space-between;
    & > * {
      flex-grow: 0;
    }
  }

  @each $name, $size in $viewports {
    &.half__from--#{$name} {
      & > * {

        &:last-child {
          margin: $spacer-size-default 0 0;
        }

        @include from($name) {
          flex-basis: 50%;

          &:last-child {
            margin: 0 0 0 $spacer-size-default;
          }
        }
      }
    }

    &.golden__from--#{$name} {
      & > * {
        @include from($name) {
          &:first-child {
            flex-basis: 61.8%;
            padding-right: 2 * $spacer-size-default;
          }

          &:last-child {
            flex-basis: 38.2%;
            margin: 0;
          }
        }
      }
    }

    &.golden-reverse__from--#{$name} {
      & > * {
        @include from($name) {
          &:last-child {
            flex-basis: 61.8%;
          }

          &:first-child {
            padding-right: 2 * $spacer-size-default;
            flex-basis: 38.2%;
            margin: 0;
          }
        }
      }
    }

    &.three__from--#{$name} {
      flex-direction: column;

      & > * {
        width: 100%;
      }

      @include from($name) {
        flex-direction: row;

        & > * {
          width: 33.33%;
        }
      }
    }

    &.two-one__from--#{$name} {
      flex-direction: column;

      & > * {
        width: 100%;
      }

      @include from($name) {
        flex-direction: row;
        flex-wrap: wrap;

        & > * {
          flex-basis: auto;

          &:nth-child(odd) {
            width: 66.66%;
          }

          &:nth-child(even) {
            width: 33.33%;
          }
        }
      }
    }

    &.one-three__from--#{$name} {
      flex-direction: column;

      & > * {
        width: 100%;
      }

      @include from($name) {
        flex-direction: row;
        flex-wrap: wrap;

        & > * {
          flex-basis: auto;

          &:nth-child(odd) {
            width: 25%;
          }

          &:nth-child(even) {
            width: 75%;
          }
        }
      }
    }

    &.auto__from--#{$name} {
      @include from($name) {
        & > * {
          width: auto;
        }
      }
    }
  }
}

.column {
  &--aside {
    @include from(desktop) {
      min-width: 17.5rem;
      max-width: 17.5rem;
    }
  }

  &__pricing {
    height: 38.75rem;

    padding-top: .625rem;
    padding-bottom: .625rem;
    //padding-left: .25rem;
    //padding-right: .25rem;
    padding-left: 0;
    padding-right: 0;

    @include from(tablet) {
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: .25rem;
      padding-right: .25rem;

      height: 46rem;

      &--featured {
        padding-top: .625rem;
        padding-bottom: .625rem;
        padding-left: .25rem;
        padding-right: .25rem;

      }
    }

    @include from(desktop) {
      height: 42.25rem;
      padding-left: .75rem;
      padding-right: .75rem;
    }

    & > .pricing {
      position: relative;
      background: $color-background-default;
      box-shadow: 0 2px 4px $color-shadow-default;
      width: 100%;
      height: 100%;
      padding: 1.75rem 0 .5rem;

      &--featured {
        @include from(tablet) {
          padding-top: 3.125rem;
        }
      }

      & > h4 {
        color: $color-text-default;
        text-align: center;
        font-size: $font-size-oversize;
        letter-spacing: $letter-spacing-small;
        margin: 0 0 2rem 0;
      }

      & > img {
        max-width: 12rem;
        display: block;
        margin: 0 auto 1rem;
      }

      & > h3 {
        text-align: center;
        letter-spacing: $letter-spacing-small;

        & > sup {
          font-weight: $font-weight-base;
          text-transform: none;
          letter-spacing: normal;
          font-size: $font-size-default;
        }
      }

      & > .dash {
        width: 50%;
        max-width: 8.75rem;
        height: .125rem;
        margin: 1rem auto;

        &--elite {
          background-color: $color-brand-primary;
        }

        &--gold {
          background-color: $color-brand-gold;
        }

        &--platinum {
          background-color: $color-brand-platinum;
        }
      }

      & > .list {
        font-size: $font-size-small;
        color: $color-text-default;

        & > .list__item {
          padding: .75rem 1rem;

          &:not(:last-child) {
            border-bottom: 1px solid $color-border-lightest;
          }

          @include between(phablet, tablet) {
            padding-left: 27.5%;
            padding-right: 27.5%;
          }

          @include from(desktop) {
            padding-left: 2rem;
            padding-right: 2rem;
          }
        }
      }

      & > .pricing__cta {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        text-align: center;
        padding: 1rem 0 2rem;

        &--featured {
          @include from(tablet) {
            padding-bottom: 3.375rem;
          }
        }
      }

    }
  }
}

.rows {
  @each $name, $size in $viewports {
    &__reverse-until--#{$name} {
      @include until($name) {
        flex-direction: column-reverse;
      }
    }
  }
}
