.columns {
  display: flex;
  flex-direction: row;

  @each $name, $size in $viewports {
    &__from--#{$name} {
      flex-direction: column;

      @include from($name) {
        flex-direction: row;
      }
    }

    &__reverse-from--#{$name} {
      flex-direction: column;

      @include from($name) {
        flex-direction: row-reverse;
      }
    }

    &__reverse-until--#{$name} {
      flex-direction: column;

      @include until($name) {
        flex-direction: row-reverse;
      }
    }

    &__between {
      &--#{$name} {
        @each $name2, $size2 in $viewports {
          @if $size < $size2 {
            &-#{$name2} {
              flex-direction: column;

              @include between($name, $name2) {
                flex-direction: row;
              }
            }
          }
        }
      }
    }


  }

  & > * {
    flex-grow: 1;
    flex-basis: auto;
  }

  &--sidebar {
    & > *:last-child {
      flex-grow: 0;
    }
  }

  &--sidebar-first {
    & > *:first-child {
      flex-grow: 0;
    }
  }

  @each $name, $size in $viewports {
    &.half__from--#{$name} {
      & > * {

        &:last-child {
          margin: $spacer-size-default 0 0;
        }

        @include from($name) {
          flex-basis: 50%;

          &:last-child {
            margin: 0 0 0 $spacer-size-default;
          }
        }
      }
    }

    &.golden__from--#{$name} {
      & > * {
        @include from($name) {
          &:first-child {
            flex-basis: 61.8%;
            padding-right: 2 * $spacer-size-default;
          }

          &:last-child {
            flex-basis: 38.2%;
            margin: 0;
          }
        }
      }
    }

    &.golden-reverse__from--#{$name} {
      & > * {
        @include from($name) {
          &:last-child {
            flex-basis: 61.8%;
          }

          &:first-child {
            padding-right: 2 * $spacer-size-default;
            flex-basis: 38.2%;
            margin: 0;
          }
        }
      }
    }

  }

}

.column {
  &--aside {
    @include from(desktop) {
      min-width: 17.5rem;
      max-width: 17.5rem;
    }
  }
}

.rows {
  @each $name, $size in $viewports {
    &__reverse-until--#{$name} {
      @include until($name) {
        flex-direction: column-reverse;
      }
    }
  }
}
