.columns {
  display: flex;
  flex-direction: row;

  @each $name, $size in $viewports {
    &__from--#{$name} {
      flex-direction: column;

      @include from($name) {
        flex-direction: row;
      }
    }

    &__between {
      &--#{$name} {
        @each $name2, $size2 in $viewports {
          @if $size < $size2 {
            &-#{$name2} {
              flex-direction: column;

              @include between($name, $name2) {
                flex-direction: row;
              }
            }
          }
        }
      }
    }
  }

  @each $name, $size in $viewports {
    &__reverse-until--#{$name} {
      @include until($name) {
        flex-direction: column-reverse;
      }
    }
  }

  & > * {
    flex-grow: 1;
  }

  &--sidebar {
    & > *:last-child {
      flex-grow: 0;
    }
  }
}

.column {
  &--aside {
    @include from(desktop) {
      min-width: 17.5rem;
      max-width: 17.5rem;
    }
  }
}
