.content {
  margin-top: 3.125rem;

  @include from(tablet) {
    margin-top: 6.875rem;
  }

  @include from(big) {
    margin-top: 9.625rem;
  }

  // Content layout variations
  // for general usage
  &__layout {

    &--inline {
      padding-top: $spacer-size-default;
      padding-bottom: $spacer-size-default;

      & > * {
        display: inline-block;
        margin: $spacer-size-small $spacer-size-default $spacer-size-small 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &--centered {
      text-align: center;
    }

    &--features {
      padding-top: $spacer-size-default;
      padding-bottom: 2 * $spacer-size-default;

      @extend %clearfix;
    }

  }

  &__columns {
    display: flex;
    flex-direction: row;

    @each $name, $size in $viewports {
      &--from-#{$name} {
        flex-direction: column;

        @include from($name) {
          flex-direction: row;
        }
      }

      &--between {
        &-#{$name} {
          @each $name2, $size2 in $viewports {
            @if $size < $size2 {
              &-#{$name2} {
                flex-direction: column;

                @include between($name, $name2) {
                  flex-direction: row;
                }
              }
            }
          }
        }
      }
    }

    & > * {
      flex-grow: 1;
    }

    &--sidebar {
      & > *:last-child {
        flex-grow: 0;
      }
    }
  }

  &__title {
    @include until(phablet) {
      font-size: $font-size-default;
    }

    padding: $spacer-size-default 0 2 * $spacer-size-default;

    &--middle {
      padding: 2 * $spacer-size-default 0;

      text-transform: none;
      font-weight: $font-weight-base;
      letter-spacing: normal;
      text-align: center;
      margin: 0;

      font-size: 2.25rem;
    }

    &--center {
      padding-bottom: $spacer-size-default;

      text-align: center;

      @include from(desktop) {
        text-align: left;
      }
    }
  }

  &__feature {
    display: block;
    float: left;
    margin: 0 0 1rem 0;
    height: 18rem;

    width: 100%;

    @include from(phablet) {
      width: 50%;
    }

    @include from(desktop) {
      width: 25%;
    }

    & > h3 {
      text-align: center;
      font-weight: $font-weight-base;
      font-size: 1.75rem;
      line-height: 2.125rem;
      text-transform: none;
      letter-spacing: normal;
      padding-bottom: $spacer-size-large;
    }

    & > p {
      color: $color-text-default;
      text-align: center;
      line-height: 1.75rem;
    }
  }

  &__sidebar {
    background-color: $color-background-page;
    padding: $spacer-size-default;
    margin-bottom: $spacer-size-default;

    & > * {
      flex-grow: 1;
    }


    @include from(desktop) {
      width: 18.75rem;
      margin-left: 4rem;

    }

    &--narrow {
      @include from(tablet) {
        width: 15rem;
        margin-left: $spacer-size-large;
      }
    }

  }

  &__sheet {
    background: $color-background-default;
    box-shadow: 0 2px 4px 0 $color-shadow-default;
    margin-bottom: $spacer-size-default;

    position: relative;
    left: -1rem;
    top: -1.5rem;
    width: calc(100% + 2rem);
    padding: 0 $spacer-size-default 2 * $spacer-size-default;
    //padding: $spacer-size-big 2 * $spacer-size-default;

    @include from(tablet) {
      position: initial;
      width: 100%;
      padding: $spacer-size-big 2 * $spacer-size-default 2 * $spacer-size-default;
    }
  }

  &__subheader {
    font-size: $font-size-small;
    color: $color-text-lightest;
    margin: 0 0 $spacer-size-default;
  }

  &__copy {
    color: $color-text-default;

    &--primary {
      font-size: $font-size-oversize;

      padding-right: 1rem;

      @include from(big) {
        padding-right: 2.5rem;
      }
    }

    &--center {
      text-align: center;
    }
  }

  &__referral-code {
    margin: $spacer-size-big auto $spacer-size-default;
    width: 100%;
    max-width: 30rem;
    height: 3rem;
    line-height: 2.875rem;
    text-transform: uppercase;
    color: $color-text-darkest;
    letter-spacing: $letter-spacing-huge;
    border: 1px dashed $color-border-icon;
    border-radius: 1.5rem;
  }
}
