.content {
  margin-top: 3.125rem;

  @include from(tablet) {
    margin-top: 6.875rem;
  }

  @include from(big) {
    margin-top: 9.625rem;
  }

  // Content layout variations
  // for general usage
  &__layout {

    &--inline {
      padding-top: $spacer-size-default;
      padding-bottom: $spacer-size-default;

      & > * {
        display: inline-block;
        margin: $spacer-size-small $spacer-size-default $spacer-size-small 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &--centered {
      text-align: center;
    }

    &--features {
      padding-top: $spacer-size-default;
      padding-bottom: 2 * $spacer-size-default;

      @extend %clearfix;
    }

    &--narrative {
      background: $color-background-default;
      box-shadow: 0 2px 4px 0 $color-shadow-default;
      height: 34rem;

      display: none;

      @include from(tablet) {
        display: flex;
        flex-direction: row;
      }

      & > aside {
        display: none;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: top right -50px;
        background-image: url("../img/comp-curation.jpg");
        flex-basis: 36%;

        & > div {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-image: linear-gradient(141deg, rgba(255,151,54,0.64) 0%, rgba(220,65,48,0.64) 68%);

          & > h3 {
            text-align: center;
            color: $color-text-white;
            line-height: 2.875rem;
            letter-spacing: $letter-spacing-huge;
          }

          & > p {
            text-align: center;
            padding: 3rem 2rem 0;
            font-size: $font-size-oversize;
            color: $color-text-white;
          }
        }

        @include from(desktop) {
          display: block;
        }
      }

      & > section {
        flex-grow: 1;
        padding: 2rem 1.5rem 0;
      }
    }
  }

  &__title {
    //@include until(phablet) {
      //font-size: $font-size-default;
    //}

    padding: $spacer-size-default 0 2 * $spacer-size-default;

    &--middle {
      padding: 2 * $spacer-size-default 0;

      text-transform: none;
      font-weight: $font-weight-base;
      letter-spacing: normal;
      text-align: center;
      margin: 0;

      font-size: 2.25rem;
    }

    &--center {
      padding-bottom: $spacer-size-default;

      text-align: center;

      @include from(desktop) {
        text-align: left;
      }
    }

    &--center-always {
      text-align: center;
      color: $color-text-default;
    }

    &--small {
      padding-top: 0;
      padding-bottom: $spacer-size-default;
    }
  }

  &__feature {
    display: block;
    float: left;
    margin: 0 0 1rem 0;
    height: 18rem;

    width: 100%;

    @include from(phablet) {
      width: 50%;
    }

    @include from(desktop) {
      width: 25%;
    }

    & > h3 {
      text-align: center;
      font-weight: $font-weight-base;
      font-size: 1.75rem;
      line-height: 2.125rem;
      text-transform: none;
      letter-spacing: normal;
      padding-bottom: $spacer-size-large;
    }

    & > p {
      color: $color-text-default;
      text-align: center;
      line-height: 1.75rem;
    }
  }

  &__sidebar {
    background-color: $color-background-page;
    padding: $spacer-size-default;
    margin-bottom: $spacer-size-default;

    & > * {
      flex-grow: 1;
    }

    @include from(desktop) {
      width: 18.75rem;
      margin-left: 4rem;

    }

    &--narrow {
      @include from(tablet) {
        width: 15rem;
        margin-left: $spacer-size-large;
      }
    }

    &--narrow-left {
      @include from(desktop) {
        width: 15rem;
        margin-right: 2 * $spacer-size-default;
        margin-left: 0;
      }
    }
  }

  &__sheet {
    background: $color-background-default;
    box-shadow: 0 2px 4px 0 $color-shadow-default;
    margin-bottom: $spacer-size-default;

    position: relative;
    left: -1rem;
    top: -1.5rem;
    width: calc(100% + 2rem);
    padding: 0 $spacer-size-default 2 * $spacer-size-default;
    //padding: $spacer-size-big 2 * $spacer-size-default;

    @include from(tablet) {
      position: initial;
      width: 100%;
      padding: $spacer-size-big 2 * $spacer-size-default 2 * $spacer-size-default;
    }
  }

  &__subheader {
    font-size: $font-size-small;
    color: $color-text-lightest;
    margin: 0 0 $spacer-size-default;
  }

  &__copy {
    color: $color-text-default;

    &--padded {
      @include from(desktop) {
        padding-right: 2rem;
      }
    }

    &--primary {
      font-size: $font-size-oversize;

      padding-right: 1rem;

      @include from(big) {
        padding-right: 2.5rem;
      }
    }

    &--center {
      text-align: center;
    }
  }

  &__referral-code {
    margin: $spacer-size-big auto $spacer-size-default;
    width: 100%;
    max-width: 30rem;
    height: 3rem;
    line-height: 2.875rem;
    text-transform: uppercase;
    color: $color-text-darkest;
    letter-spacing: $letter-spacing-huge;
    border: 1px dashed $color-border-icon;
    border-radius: 1.5rem;
  }

  &__breadcrumb {
    font-size: $font-size-small;
    color: $color-text-default;
    text-decoration: none;
  }

  &__meta {
    width: 17.5rem;
    font-size: $font-size-tiny;
    letter-spacing: $letter-spacing-default;
    color: $color-text-lightest;
    line-height: $line-height-big;

    margin: .75rem 0 0 0;
    padding: .75rem 0 .5rem 0;

    @include from(desktop) {
      margin: .75rem 0 2rem 0;
      padding: .75rem 0 .5rem 2rem;
      border-left: 1px solid $color-border-lighter;
    }

    & > img {
      max-width: 80%;
    }
  }

  &__image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  &__person {
    &:after {
      display: table;
      content: " ";
      clear: both;
    }

    & > img {
      display: block;
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;

      @include from(desktop) {
        width: 22.5%;
        margin-right: 2.5%;
        float: left;
      }
    }

    & > p {
      @include from(desktop) {
        margin-left: 25%;
      }
    }
  }

  &__link {
    text-decoration: underline;
    color: $color-brand-primary;

    &--inverted {
      color: $color-text-white;
    }

    &--block {
      display: block;
      padding: $spacer-size-large 0;
    }
  }
}
