// Deep map get
@function get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

// Responsive
@mixin from($viewport) {
  @media screen and (min-width: get($viewports, $viewport)) {
    @content;
  }
}

@mixin between($from, $until) {
  @media screen and (min-width: get($viewports, $from)) and (max-width: #{get($viewports, $until)-1}) {
    @content;
  }
}

@mixin until($viewport) {
  @media screen and (max-width: #{get($viewports, $viewport)-1}) {
    @content;
  }
}

@mixin upto($viewport) {
  @media screen and (max-width: get($viewports, $viewport)) {
    @content;
  }
}


// Clearfix
%clearfix {
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}
