$example-color-border: rgba(0,0,0,.1);
$example-color-bg:     white;
$example-color-number: rgba(0,0,0,.15);
$example-color-dimmed: rgba(0,0,0,.4);
$example-color-code: #fdf6e3;
$example-color-accent: crimson;

.example {

  &--page {
    background-color: $color-background-page;
  }

  &__header {
    font-size: $font-size-huge;
    margin: $spacer-size-default * 2.5 0 $spacer-size-default 0;

    & > small {
      color: $example-color-dimmed;
      font-size: $font-size-default;
      font-weight: $font-weight-light;
      margin-left: $spacer-size-default * .5;
    }
  }

  &__subheader {
    font-size: $font-size-large;
    margin: $spacer-size-default * 2.5 0 $spacer-size-default 0;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: $spacer-size-tiny 0 0 0;

    & > li {
      margin: 0;
      padding: 0 0 $spacer-size-small;
    }

    li > ul {
      padding-left: $spacer-width-checkbox;
    }
  }

  &__accent {
    font-size: $font-size-tiny;
    font-weight: $font-weight-black;
    color: $example-color-accent;
    display: inline-block;
    padding-left: .125rem;
    position: relative;
    top: -2px;
  }

  &__container {
    max-width: 980px;
    padding: 0 $spacer-size-default;
    margin: 0 auto;
  }

  &__row {
    display: flex;
  }

  &__column {
    flex: 1;
  }

  &__nav {
    margin: $spacer-size-default 0 $spacer-size-default 0;
    font-size: $font-size-small;
  }

  &__demo {
    border: 1px solid $example-color-border;
    padding: 24px;
    background: $example-color-bg;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &--checkout {
      padding: 1.5rem 0 0 0;
      max-width: 42.625rem;
      margin: 0 auto;
      background-color: $color-background-page;
      //background: $color-background-page;

      @include until(phablet) {
        position: absolute;
        border: 0;
        left: 0;
      }
    }

    &--full-width {
      position: absolute;
      left: 0;
      width: 100%;
      border: 0;
      border-radius: 0;
      background: $color-background-page;
      padding: 0;
    }

    &::after {
      display: table;
      content: " ";
      clear: both;
    }

    &--modal {
      position: relative;
      height: 400px;
      overflow: hidden;
    }
  }

  &__code {
    margin: 0 0 $spacer-size-default 0;
    padding: 16px 0 20px 36px;
    counter-reset: code;
    white-space: normal;
    border: 1px solid $example-color-border;
    border-radius: 5px;
    background-color: $example-color-code;

    .example__demo:not(.example__demo--full-width) + & {
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    & > code {
      display: block;
      margin-left: -100px;
      padding: 0 0 0 100px;
      width: calc(100% + 100px + 100px);
      border-radius: 0;
      background: 0 0;
      line-height: 2;
      white-space: pre;
      -moz-tab-size: 4;
      -o-tab-size: 4;
      tab-size: 4;
      font-family: $font-family-monospace;
      font-size: $font-size-tiny;

      &:not(:only-child):before {
        position: absolute;
        margin-left: -2.25em;
        color: $example-color-number;
        counter-increment: code;
        text-align: right;
        content: counter(code, decimal-leading-zero)
      }
    }
  }

  &__footer {
    font-size: $font-size-tiny;
    color: $example-color-dimmed;
    padding: $spacer-size-default 0;
  }

  &__checkbox {
    display: inline-block;
    vertical-align: middle;
    margin-right: .15rem;
  }
}
