$cho-padding-initial: 1.5rem;
$cho-padding-horizontal: 1rem;
$cho-padding-vertical: .625rem;

.cho {

  .form__row:last-child > .form__cell {
    margin-bottom: 0;
  }

  &__module {
    background-color: $color-background-default;
    box-shadow: 0 2px 4px 0 $color-shadow-default;
    position: relative;
  }

  &__summary {
    display: flex;
    flex-direction: column;
    padding: $cho-padding-vertical $cho-padding-horizontal 1.5*$cho-padding-vertical;

    @include from(phablet) {
      flex-direction: row;
    }
  }

  &__title {
    min-width: 7rem;
    width: 7rem;
    font-size: $font-size-accent;
    line-height: 1.5rem;
    font-weight: $font-weight-bold;
  }

  &__value {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > .cho__icon {
      padding-right: $cho-padding-horizontal;
    }

    @include until(phablet) {
      margin-top: $cho-padding-vertical;
    }
  }

  &__toggle {
    position: absolute;
    top: $cho-padding-vertical + 0.125rem;
    right: $cho-padding-horizontal;
  }

  &__action {
    color: $color-brand-primary;
  }

  &__header {
    text-align: center;
    padding: 0 $cho-padding-horizontal;
    color: $color-text-lightest;
  }

  &__pad {
    padding: $cho-padding-initial $cho-padding-horizontal 0;
  }

  &__cell {
    width: 50%;
  }

  &__bar {
    display: flex;
    padding: $cho-padding-vertical $cho-padding-horizontal;
    flex-direction: row;
    justify-content: space-between;
  }

  &__nothing {
    color: $color-text-lightest;
    text-align: center;
    padding: $cho-padding-vertical $cho-padding-horizontal 2.5*$cho-padding-vertical;
  }

  &__choice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $cho-padding-vertical 0;
    border-bottom: 1px solid $color-border-lightest;

    & > .cho__icon {
      padding: 0 $cho-padding-horizontal;
    }
  }

  &__info {
    flex-grow: 1;
  }

  &__picture {
    min-width: 8.25rem;
    width: 8.25rem;
  }

  &__radio {
    padding: 0 $cho-padding-horizontal;
  }

  &__footer {
    display: flex;
    flex-direction: row;
  }

  &__button {
    text-align: center;
    color: $color-brand-primary;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-small;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-small;
    padding: 0 $cho-padding-horizontal;
    background-color: $color-brand-lighter;

    &--disabled {
      background-color: $color-background-lighter;
      color: $color-text-lightest;
      cursor: not-allowed;
    }

    &--cancel {
      flex-grow: 1;
      border-right: 2px solid $color-background-default;
    }
    &--submit {
      flex-grow: 2;
    }
  }

  &__list {
    border-top: 1px solid $color-border-lightest;
  }

}
