.auth {
  position: static;

  @include from(tablet) {
    position: relative;
  }

  &__container {
    margin: 0 auto;
    max-width: 30rem;
    padding: 0 1rem;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    padding: .25rem 0;

    @include from(phablet) {
      padding-top: .75rem;
      padding-bottom: 1.5rem;
    }
  }

  &__logo {
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url("../img/logo.svg");
    background-size: 98px 27px;
    color: $color-text-default;

    height: 3.5rem;
    line-height: 3.375rem;
    font-size: $font-size-accent;
    font-weight: $font-weight-base;
    text-transform: none;
    letter-spacing: normal;

    padding-left: 6.625rem;

    @include from(phablet) {
      font-size: $font-size-big;
      background-size: 138px 38px;
      padding-left: 9rem;
    }

    @include from(desktop) {
      background-size: 185px 51px;
      height: 5.5rem;
      line-height: 5.5rem;
      font-size: $font-size-larger;
      padding-left: 12rem;
    }
  }

  &__popup {
    display: none;
    position: absolute;
    left: 0;
    font-size: $font-size-small;
    text-align: center;
    background-color: $color-background-default;
    padding: $spacer-size-big $spacer-size-default;
    line-height: 1.5rem;

    z-index: 12;

    width: 100%;
    top: 3.125rem;
    box-shadow: 0 3px 4px 0 $color-shadow-auth;

    @include from(tablet) {
      top: 1.6125rem;
      left: auto;
      right: -2.875rem;
      width: 25rem;
      box-shadow: 0 2px 24px 0 $color-shadow-auth;
    }

    @include from(big) {
      right: -7rem;
    }
  }

  &__close {
    color: $color-brand-primary;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: $letter-spacing-default;
  }

  &--open {
    & > .auth__popup {
      display: block;
    }
  }

  &__form {
    padding: 1.5rem 0 0 0;

    & .divider {
      width: 45%;
      margin: .5rem auto;
      color: $color-text-lightest;
    }

    & p {
      margin: 0;
      color: $color-text-lightest;
    }
  }

  &__row {
    display: flex;
    padding: .25rem 0;

    &--relaxed {
      padding: 1rem 0 1.5rem;
    }

    &--bordered {
      margin-left: -1rem;
      margin-right: -1rem;
      padding-left: 1.125rem;
      padding-right: 1rem;
      border-top: 1px solid $color-border-lighter;
      border-bottom: 1px solid $color-border-lighter;

      & + & {
        border-top: none;
      }
    }

    & .form__input {
      text-align: center;
    }

    & .form__select {
      border: none;
    }

    & .form__label {
      font-size: $font-size-small;
      color: $color-text-lightest;
      display: inline-block;
    }

    & .button {
      width: 100%;
      height: 3.125rem;
      line-height: 3rem;
      border-radius: 1.5625rem;
      font-weight: $font-weight-base;
    }

  }

  &__col {
    flex-grow: 1;
  }

  &__label {
    font-weight: $font-weight-bold;
    font-size: $font-size-default;
    line-height: 2.5rem;
    padding-right: 1rem;
  }

  &__tab {
    display: none;

    &.auth__tab--active {
      display: block;
    }
  }
}
