.auth {
  position: static;

  @include from(tablet) {
    position: relative;
  }

  &__popup {
    position: absolute;
    left: 0;
    font-size: $font-size-small;
    text-align: center;
    background-color: $color-background-default;
    padding: $spacer-size-big $spacer-size-default;
    line-height: 1.5rem;

    width: 100%;
    top: 3.125rem;

    @include from(tablet) {
      top: 1.6125rem;
      left: auto;
      right: -2.875rem;
      width: 25rem;
      box-shadow: 0 2px 24px 0 $color-shadow-auth;
    }

    @include from(big) {
      right: -7rem;
    }
  }

  &__form {
    padding: $spacer-size-big 0 0 0;

    & .divider {
      width: 45%;
      margin: 0 auto;
      color: $color-text-lightest;
    }
  }

  &__row {
    display: flex;

    &--padded {
      padding: $spacer-size-large 0;
    }

    & .form__input {
      text-align: center;
    }

    & .form__label {
      font-size: $font-size-small;
      color: $color-text-lightest;
    }

    & .button {
      width: 100%;
      font-weight: $font-weight-base;
    }

  }

  &__col {
    flex-grow: 1;
  }
}
