.banner {
  width: 100%;
  color: $color-text-white;

  background-color: $color-background-default;
  background-repeat: no-repeat;
  background-size: auto 100%;

  height: 4rem;
  background-position: center center;

  @include from(tablet) {
    height: 8rem;
    background-position: center right;
  }

  @include from(big) {
    height: 12.5rem;
    background-position: center center;
  }

  &__overlay {
    width: 100%;
    height: 100%;
  }

  & .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    @include from(desktop) {
      flex-direction: row;
    }
  }

  &--category {
    height: 3.5rem;

    @include from(tablet) {
      height: 8rem;
    }

    @include from(big) {
      height: 9.25rem;
    }
  }


  // Custom banners
  &--gifts {
    background-image:
      linear-gradient(141deg, rgba(255,151,54,0.64) 0%, rgba(220,65,48,0.64) 68%),
      url("../img/banner-bg-gifts.jpg"),
      linear-gradient(180deg, #fcfcfc 0%, #fcfcfc 100%)
    ;
  }

  // Category banners
  @each $name, $config in $config-categories {
    &--#{$name} {
      & > .banner__overlay {
        background-image:
          linear-gradient(141deg,
            adjust-color(get($config, color, secondary), $alpha: -0.36) 0%,
            adjust-color(get($config, color, primary), $alpha: -0.36) 68%
          ),
          linear-gradient(0deg,
            rgba(255,255,255,0.15) 0%,
            rgba(255,255,255,.15) 100%
          )
        ;
      }

      background-image: url("../img/category-#{$name}.jpg");

      background-size:     get($config, size,     banner, phone);
      background-position: get($config, position, banner, phone);

      @each $viewport, $size in get($config, size, banner) {
        @include from($viewport) {
          background-size:     $size;
          background-position: get($config, position, banner, $viewport);
        }
      }
    }
  }

  &__module {
    align-self: center;

    @include from(tablet) {
      align-self: flex-start;
    }

    & > h1 {
      color: $color-text-white;
      letter-spacing: $letter-spacing-default;

      text-align: center;
      font-size: $font-size-oversize;
      line-height: 1;
      margin-top: 1.375rem;

      @include from(phablet) {
        letter-spacing: $letter-spacing-big;
      }

      @include from(tablet) {
        text-align: left;
        font-size: $font-size-larger;
        margin-top: 2rem;
        letter-spacing: $letter-spacing-huge;
      }

      @include from(big) {
        font-size: $font-size-huge;
        max-width: 20rem;
        line-height: $line-height-huge;
        margin-top: 1.5rem;
      }
    }

    & > p {
      line-height: 2.25rem;
    }

    &--category {
      display: flex;
      align-self: center;
      align-items: center;
      justify-content: center;

      height: 100%;

      @include from(tablet) {
        align-self: flex-start;
        height: auto;
        margin-top: 1.75rem;
      }

      @include from(desktop) {
        align-self: center;
        margin-top: 0;
      };

      & > h1,
      & > .icon {
        display: block;
        margin: 0;
        max-width: none;
      }

      & > .dropdown {
        display: block;
        min-width: 184px;
        margin: 0 2rem 0 0;

        @include from(big) {
          margin-right: 4rem;
        }

        .banner--merchandise & {
          margin-right: 1.5rem !important;
        }
      }
    }

    &--meta {
      display: flex;
      align-self: center;
      padding: 0 0 1.75rem 0;

      @include from(desktop) {
        flex-direction: column;
        padding: 0 2rem 0 0;
      }

      .banner--merchandise & {
        padding: 0 !important;
      }
    }
  }

  &__meta {
    font-size: $font-size-small;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-big;
    line-height: $line-height-accent;

    &:not(:last-child) {
      padding-right: 2.25rem;
    }
  }

}
