.banner {
  width: 100%;
  color: $color-text-white;

  background-color: $color-background-default;
  background-repeat: no-repeat;
  background-size: auto 100%;

  height: 4rem;
  background-position: center center;

  @include from(tablet) {
    height: 8rem;
    background-position: center right;
  }

  @include from(big) {
    height: 12.5rem;
    background-position: center center;
  }

  // @media screen and (max-width: $viewport-desktop-default) {
  //   height: 8rem;
  // }
  //
  // @media screen and (max-width: $viewport-tablet-portrait) {
  //   height: 6rem;
  //   background-size: auto 125%;
  // }
  //
  // @media screen and (max-width: $viewport-phone-landscape) {
  //   height: 4rem;
  // }

  & > .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

      // @media screen and (max-width: $viewport-tablet-portrait) {
      //   flex-direction: column;
      // }
  }

  &--category {
    height: 9.375em;
    background-position: right center;

    @media screen and (max-width: $viewport-desktop-default) {
      height: 8em;
      background-size: auto 125%;
    }

    @media screen and (max-width: $viewport-tablet-portrait) {
      height: 6.0625rem;
    }

    @media screen and (max-width: $viewport-phone-landscape) {
      height: 3.4375rem;
      background-size: auto 250%;
    }

    & > .container {
      @media screen and (max-width: $viewport-desktop-default) {
        flex-direction: column;
      }
    }
  }


  // Custom banners

  &--gifts {
    background-image:
      linear-gradient(141deg, rgba(255,151,54,0.64) 0%, rgba(220,65,48,0.64) 68%),
      url("../img/banner-bg-gifts.jpg"),
      linear-gradient(180deg, #fcfcfc 0%, #fcfcfc 100%)
    ;
  }

  // Category banners
  &--sports {
    background-image: linear-gradient(141deg, rgba(109,54,255,0.36) 0%, rgba(142,36,170,.7) 68%), url("../img/banner-bg-sports.jpg");
  }



  &__module {

    // &--image {
    //   @media screen and (max-width: $viewport-desktop-default) {
    //     display: none;
    //   }
    // }

    & > h1 {
      color: $color-text-white;
      letter-spacing: $letter-spacing-default;

      text-align: center;
      font-size: $font-size-oversize;
      line-height: 1;
      margin-top: 1.375rem;

      @include from(phablet) {
        letter-spacing: $letter-spacing-big;
      }

      @include from(tablet) {
        text-align: left;
        font-size: $font-size-larger;
        margin-top: 2rem;
      }

      @include from(big) {
        font-size: $font-size-huge;
        max-width: 20rem;
        line-height: $line-height-huge;
        margin-top: 1.5rem;
      }
    }

    & > p {
      line-height: 2.25rem;
      // @include until(phone)
    }

    &--category {
      line-height: 9.375rem;

      @media screen and (max-width: $viewport-desktop-default) {
        line-height: 5rem;
      }

      @media screen and (max-width: $viewport-tablet-portrait) {
        line-height: 5.725rem;
        text-align: center;
      }

      @media screen and (max-width: $viewport-phone-landscape) {
        line-height: 3.25rem;

        & > .dropdown--category {
          display: none;
        }
      }


      & > h1 {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 4rem;

        @media screen and (max-width: $viewport-desktop-default) {
          margin: 0 0 0 2rem;
        }

        @media screen and (max-width: $viewport-phone-landscape) {
          // margin: 0 $spacer-size-default 0 0;
          // line-height: 3.4375rem;
          cursor: pointer;
        }
      }
    }

    &--meta {
      display: flex;
      align-self: center;
      flex-direction: column;
      text-align: left;

      @media screen and (max-width: $viewport-desktop-default) {
        flex-direction: row;
      }

      @media screen and (max-width: $viewport-phone-landscape) {
        display: none;
      }


    }

  }

  &__meta {
    font-size: $font-size-small;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-big;
    line-height: $line-height-accent;
    padding-right: 2.25rem;
  }

}
