.banner {
  width: 100%;
  color: $color-text-white;

  background-color: $color-background-default;
  background-repeat: no-repeat;
  background-size: auto 100%;

  height: 4rem;

  @include from(tablet) {
    height: 8rem;
  }

  @include from(big) {
    height: 12.5rem;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(141deg, rgba(255,151,54,0.64) 0%, rgba(220,65,48,0.64) 68%);
  }

  & .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;

    @include from(desktop) {
      flex-direction: row;
    }
  }

  &--tall {
    & p {
      text-transform: uppercase;
      letter-spacing: $letter-spacing-accent;
    }

    @include until(tablet) {
      height: 11rem;

      & h1 {
        font-size: $font-size-large !important;
        font-weight: $font-weight-base !important;
        letter-spacing: $letter-spacing-huge !important;
      }

      & p {
        text-align: center;
      }
    }
  }

  &--category {
    height: 3.5rem;
    position: relative;

    @include from(tablet) {
      height: 8rem;
    }

    @include between(tablet, desktop) {
      & .container {
        justify-content: space-around;
      }
    }

    @include from(big) {
      height: 9.25rem;
    }
  }

  // Category banners
  @each $name, $config in $config-categories {
    &--#{$name} {
      & > .banner__overlay {
        background-image:
          linear-gradient(141deg,
            adjust-color(get($config, color, secondary), $alpha: -0.36) 0%,
            adjust-color(get($config, color, primary), $alpha: -0.36) 68%
          ),
          linear-gradient(0deg,
            rgba(255,255,255,0.15) 0%,
            rgba(255,255,255,.15) 100%
          )
        ;
      }

      background-image: url("../img/category-#{$name}.jpg");

      background-size:     get($config, size,     banner, phone);
      background-position: get($config, position, banner, phone);

      @each $viewport, $size in get($config, size, banner) {
        @include from($viewport) {
          background-size:     $size;
          background-position: get($config, position, banner, $viewport);
        }
      }
    }
  }

  &__module {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    &--category {
      flex-direction: row;
      align-items: center;

      @include from(tablet) {
        height: auto;
        margin-top: 1.25rem;
        justify-content: flex-start;
      }

      @include from(desktop) {
        margin-top: 0;
      };

      & > h1,
      & > .icon {
        display: block;
        margin: 0;
        max-width: none;
        cursor: pointer;
      }

      & > .dropdown {
        display: block;
        min-width: 184px;
        margin: 0 2rem 0 0;

        @include from(big) {
          margin-right: 4rem;
        }

        .banner--merchandise & {
          margin-right: 1.5rem !important;
        }
      }
    }

    &--meta {
      display: flex;
      flex-direction: row;
      align-self: center;

      @include from(tablet) {
        height: auto;
        margin-bottom: 1.25rem;
      }

      @include from(desktop) {
        flex-direction: column;
        padding: 0 2rem 0 0;
        margin-bottom: 0;
      }

      .banner--merchandise & {
        padding: 0 !important;
      }
    }

    // Module contents
    & > h1 {
      color: $color-text-white;
      margin: 0;
      line-height: 1;

      font-size: $font-size-oversize;
      letter-spacing: $letter-spacing-default;
      text-align: center;

      @include from(phablet) {
        letter-spacing: $letter-spacing-big;
      }

      @include from(tablet) {
        letter-spacing: $letter-spacing-huge;
        font-size: $font-size-larger;
        text-align: left;
      }

      @include from(big) {
        font-size: $font-size-huge;
      }
    }

    & > h2 {
      color: $color-text-white;
      font-size: $font-size-default;
      letter-spacing: $letter-spacing-default;
      text-align: center;

      @include from(phablet) {
        letter-spacing: $letter-spacing-big;
        font-size: $font-size-oversize;
      }

      @include from(tablet) {
        font-size: $font-size-large;
      }

      @include from(big) {
        font-size: $font-size-larger;
        letter-spacing: $letter-spacing-large;
      }
    }

    & > p {
      margin: $spacer-size-big 0 0 0;
    }
  }

  &__meta {
    font-size: $font-size-small;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-big;

    &:not(:last-child) {
      padding-right: 2.25rem;
    }
  }

  &__expander {
    width: 100%;
    position: absolute;
    z-index: 8;
    display: none;

    & > .container {
      display: block;
    }

    & .plates {
      background: $color-background-default;
      color: $color-text-default;
      box-shadow: 0 10px 15px $color-shadow-auth;
      padding-bottom: 0;
    }
  }

  // Custom banners
  &--affiliate {
    background-image: url("../img/banner-bg-affiliate.jpg");
    background-size: 640px auto;
    background-position: top -90px center;

    @include from(phablet) {
      background-size: 1024px auto;
      background-position: top -150px center;
    }

    @include from(desktop) {
      background-size: 1366px auto;
      background-position: top -200px center;
    }

    @include from(big) {
      background-size: 1600px auto;
      background-position: top -240px center;
      height: 9.25rem;
    }

    @include from(large) {
      background-size: 1920px auto;
      background-position: top -280px center;
    }

    @include from(huge) {
      background-size: 100% auto;
      background-position: top -300px center;
    }
  }

  &--partners {
    background-image: url("../img/banner-bg-partners.jpg");
    background-size: 100% auto;
    background-position: bottom -100px center;

    @include from(phablet) {
      background-position: bottom -190px center;
    }

    @include from(tablet) {
      background-position: top -110px center;
    }

    @include from(desktop) {
      background-position: top -170px center;
    }

    @include from(big) {
      background-position: top -220px center;
    }

    @include from(large) {
      background-position: top -260px center;
    }

    @include from(huge) {
      background-position: top -320px center;
    }
  }

  &--refer {
    background-image: url("../img/banner-bg-refer.jpg");
    background-size: 100% auto;
    background-position: top center;
  }

  &--press {
    background-image: url("../img/banner-bg-press.jpg");
    background-size: 100% auto;
    background-position: center center;
  }

  &--contact {
    background-image: url("../img/banner-bg-contact.jpg");
    background-size: 100% auto;
    background-position: center center;
  }

  &--ziziup-card {
    background-image: url("../img/banner-bg-ziziup-card.jpg");
    background-size: 100% auto;
    background-position: center center;
  }

  &--team {
    background-image: url("../img/banner-bg-team.jpg");
    background-size: 100% auto;
    background-position: center center;
  }

  &--about {
    background-image: url("../img/banner-bg-about.jpg");
    background-size: 100% auto;
    background-position: center center;
  }

  &--faq {
    background-image: url("../img/banner-bg-faq.jpg");
    background-size: 100% auto;
    background-position: center center;
  }

  &--gifts {
    background-image: url("../img/banner-bg-gifts.jpg");
    background-size: 100% auto;
    background-position: center center;
  }

  &--sales {
    background-image: url("../img/banner-bg-sales.jpg");
    background-size: 100% auto;
    background-position: center center;
  }

  &--curation {
    background-image: url("../img/banner-bg-curation.jpg");
    background-size: 100% auto;
    background-position: center center;
  }

  &--specialty {
    background-image: url("../img/banner-bg-specialty.jpg");
    background-size: 100% auto;
    background-position: center center;
  }
}

.teaser {
  width: 100%;
  height: 11.25rem;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;

  &__overlay {
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(141deg, rgba(255,151,54,0.64) 0%, rgba(220,65,48,0.64) 68%);

    & > h3 {
      color: $color-text-white;
      text-align: center;
      line-height: 11rem;
    }
  }

  &--team {
    background-image: url("../img/banner-bg-team.jpg");
  }

  &--press {
    background-image: url("../img/banner-bg-press.jpg");
  }

  &--membership {
    width: auto;
    height: 16rem;
    background-repeat: no-repeat;
    background-image: url("../img/comp-card.jpg");
    background-position: center center;

    background-size: auto 140%;

    @include from(tablet) {
      margin: .625rem 1rem 1rem .625rem;
      background-size: 100% auto;
    }

    @include from(big) {
      margin-top: 1.25rem;
      margin-left: 1.25rem;
      height: 11.5rem;
    }

    & > .teaser__overlay {
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
      padding-left: .25rem;
      padding-right: .25rem;

      @include from(phablet) {
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }

      @include from(big) {
        flex-direction: row;
        padding: 0 2rem;
        justify-content: space-between;
        align-items: center;

        & > *:last-child {
          height: 10rem;
          position: relative;
          left: -5rem;
        }
      }
    }

    & img {
      display: block;
      margin: 1rem auto 0;
      position: relative;
      left: -3rem;
      height: 8rem;

      @include from(phablet) {
        height: 9rem;
      }

      &:last-child {
        left: 3rem;
        top: -9rem;

        @include from(phablet) {
          top: -10rem;
        }
      }
    }

    & .button {
      display: block;

      @include from(desktop) {
        display: inline-block;
      }
    }
  }

  &--offline {
    height: 5.75rem;
    width: auto;
    margin: 0;

    @include from(tablet) {
      margin: .625rem 1rem 0 .625rem;
    }

    @include from(big) {
      margin: 1.25rem 1rem 0 1.25rem;
    }

    & > .teaser__overlay {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &--standalone {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  &--zcard {
    background-image: linear-gradient(141deg, rgba(255,151,54,0.64) 0%, rgba(220,65,48,0.64) 68%);
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 38rem;
    margin: 0 0 .625rem 0;

    @include from(phablet) {
      height: 26rem;
    }

    @include from(tablet) {
      margin: .625rem 1rem 0 .625rem;
    }

    @include from(big) {
      margin: 1.25rem 1rem 0 1.25rem;
    }

    & > h3 {
      text-align: center;
      color: $color-text-white;
      margin: 0 0 $spacer-size-small;
    }

    &.teaser--full {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
