.button {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-default;
  font-size: $font-size-tiny;
  color: $color-text-darker;
  font-weight: $font-weight-bold;
  padding: $spacer-size-small $spacer-size-default;

  &--bordered {
    border: 1px solid $color-border-light;
  }

  &--rounded {
    border-radius: 2.5rem;
  }

  &--store {
    display: inline-block;
    vertical-align: middle;
    width: 135px;
    height: 40px;
    padding: 0;
    margin: 0 $spacer-size-small 0 0;
    background-repeat: no-repeat;
    background-size: 135px 40px;

    &.button--app-store {
      background-image: url("../img/app-store.svg");
    }

    &.button--play-store {
      background-image: url("../img/play-store.png");
    }

    &.button--chrome-store {
      background-image: url("../img/chrome-store.png");
    }
  }

  &--icon {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    height: $icon-size-default;
    width: $icon-size-default;
  }
}
