.dropdown {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  &__button {
    display: inline-block;
    vertical-align: middle;
    height: 26px;
    line-height: 26px;
    cursor: pointer;

    &--sort {
      text-transform: uppercase;
      font-size: $font-size-tiny;
      letter-spacing: $letter-spacing-small;
      font-weight: $font-weight-bold;
      border-radius: 20px;
      padding: 0 .5875rem 0 1.125rem;
      background-color: $color-background-page;
      width: 11rem;
      text-align: center;

      &-inverted {
        background-color: $color-background-darker;
        color: $color-text-white;
      }

      .dropdown--open & {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &--uppercase {
      text-transform: uppercase;
      font-size: $font-size-tiny;
      letter-spacing: $letter-spacing-small;
    }

    &--inverted {
      background: $color-background-darker;
      color: $color-text-white;
    }

    &--gray {
      background: $color-background-page;
      font-weight: $font-weight-bold;
      color: $color-text-default;
    }

    &--rounded {
      border-radius: 20px;

      & > .icon {
        line-height: 1;
      }
    }

    &--bordered {
      height: auto;
      background: transparent;
      border: 1px solid $color-border-transparent;
      text-transform: uppercase;
      letter-spacing: $letter-spacing-default;
    }

    &--careted {
      padding: 0 .5875rem 0 1.125rem;
    }

    &--large {
      height: 32px;
      line-height: 32px;
    }


  }

  &__label {
    display: inline-block;
    vertical-align: middle;
    margin: 0 $spacer-size-default 0 0;

    font-size: $font-size-tiny;
    color: $color-text-lightest;

    &--large {
      font-size: $font-size-default;
      color: $color-text-white;
    }
  }

  &__value {
    display: inline-block;
    vertical-align: middle;

    &--accent {
      color: $color-brand-primary;
    }

    &--upper {
      text-transform: uppercase;
    }
  }

  &__pane {
    background: $color-background-page;
    display: none;
    position: absolute;
    top: 28px;
    right: 0;
    width: 11rem;
    z-index: 2;

    .dropdown--open & {
      display: block;
    }
  }

  &__scrollpane {
    display: none;
    width: 200px;
    height: 220px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.27);
    position: absolute;
    top: 24px;
    left: 0;
    overflow: hidden;
    background: $color-background-default;

    &--lang {
      left: -1 * $spacer-size-default;
      width: 160px;
      height: 160px;
      padding: $spacer-size-big 0;
    }

    &--sort {
      left: auto;
      right: 0;
    }

    &--banner {
      left: auto;
      right: 0;
      width: 246px;
      top: 38px;
    }

    .dropdown--open > & {
      display: block;
    }
  }

  &__searchbar {
    height: 40px;
    width: 200px;
    background: $color-background-default;

    & > input[type=search] {
      box-sizing: border-box;
      border: 0;
      height: 32px;
      width: 180px;
      margin: $spacer-size-small 0 0 $spacer-size-big;
      padding: 0 $icon-size-large 0 $icon-size-large;
      border-radius: 16px;
      outline: none;
      background-color: $color-border-lightest;
      background-image: url("../img/icon-search-alt.png");
      background-size: $icon-size-large $icon-size-small;
      background-repeat: no-repeat;
      background-position: left center;
      text-align: center;
    }

    &--hidden {
      display: none;
    }
  }

  &__options {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: scroll;
    max-height: 220px;

    &--search {
      max-height: 180px;
    }

    &--expandable {
      background-color: $color-border-lightest;

      & > .dropdown__option {
        height: 2.5rem;
        line-height: 2.5rem;
        font-size: $font-size-tiny;
        font-weight: $font-weight-bold;
        color: $color-text-light;
        letter-spacing: $letter-spacing-tiny;
        border-bottom: 1px solid $color-border-lighter;
      }
    }
  }

  &__optgroup {
    height: 28px;
    line-height: 28px;
    margin: 0;
    padding: 0 $spacer-size-default;
    font-size: $font-size-default;
    font-weight: $font-weight-bold;
    cursor: default;
    color: $color-text-default;
  }

  &__option {
    height: 28px;
    line-height: 28px;
    margin: 0;
    padding: 0 $spacer-size-default;
    cursor: pointer;
    color: $color-text-default;

    &:hover {
      background-color: $color-border-lightest;
    }

    &--selected {
      background-color: $color-border-lightest;
      background-image: url("../img/icon-tick.png");
      background-size: $icon-size-default $icon-size-tiny;
      background-repeat: no-repeat;
      background-position: center right;
      cursor: default;
    }

    &--sort {
      font-size: $font-size-tiny;
      letter-spacing: $letter-spacing-small;
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      padding: 0 .5875rem 0 1.125rem;

      &.dropdown__option--selected {
        background-image: url("../img/icon-tick.png");
        background-color: $color-background-lighter;
      }

      .dropdown__pane--inverted & {
        background-color: $color-background-darker;
        color: $color-text-white;
      }
    }

    & > .icon {
      vertical-align: baseline;
    }

    &--hidden {
      display: none;
    }

    &--expandable {
      height: 3.25rem;
      line-height: 3.25rem;
      font-size: $font-size-small;
      letter-spacing: $letter-spacing-default;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      position: relative;
      border-bottom: 1px solid $color-border-lighter;

      &:after {
        display: block;
        content: " ";
        position: absolute;
        z-index: 99999999;
        right: 1rem;
        top: calc(1.625rem - #{$icon-size-tiny / 2});
        width: $icon-size-tiny;
        height: $icon-size-tiny;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: $icon-size-tiny $icon-size-tiny;
        background-image: url("../img/icon-caret-full.png");
      }

      &:hover {
        background-color: $color-background-default;
      }
    }

    &--collapsed {
      & + .dropdown__options {
        display: none;
      }
    }

    &--expanded {
      & + .dropdown__options {
        display: block;
      }

      &:after {
        transform: rotate(180deg);
      }
    }
  }

  &--centered {
    display: block;
    margin: $spacer-size-large auto 0;
    text-align: center;
  }
}
