.dropdown {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  &__button {
    display: inline-block;
    vertical-align: middle;
    height: 26px;
    line-height: 26px;
    cursor: pointer;

    &--uppercase {
      text-transform: uppercase;
      font-size: $font-size-tiny;
      letter-spacing: $letter-spacing-small;
    }

    &--inverted {
      background: $color-background-darker;
      color: $color-text-white;
    }

    &--rounded {
      border-radius: 20px;

      & > .icon {
        line-height: 1;
      }
    }

    &--bordered {
      height: auto;
      background: transparent;
      border: 1px solid $color-border-transparent;
      text-transform: uppercase;
      letter-spacing: $letter-spacing-default;
    }

    &--careted {
      padding: 0 .5875rem 0 1.125rem;
    }

    &--large {
      height: 32px;
      line-height: 32px;
    }


  }

  &__label {
    display: inline-block;
    vertical-align: middle;
    margin: 0 $spacer-size-default 0 0;

    font-size: $font-size-tiny;
    color: $color-text-lightest;

    &--large {
      font-size: $font-size-default;
      color: $color-text-white;
    }
  }

  &__value {
    display: inline-block;
    vertical-align: middle;

    &--accent {
      color: $color-brand-primary;
    }


  }

  &__scrollpane {
    display: none;
    width: 200px;
    height: 220px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.27);
    position: absolute;
    top: 24px;
    left: 0;
    overflow: hidden;
    background: $color-background-default;

    &--lang {
      left: -1 * $spacer-size-default;
      width: 160px;
      height: 160px;
      padding: $spacer-size-big 0;
    }

    .dropdown--open > & {
      display: block;
    }
  }

  &__searchbar {
    //position: fixed;
    height: 40px;
    width: 200px;
    background: $color-background-default;

    & > input[type=search] {
      box-sizing: border-box;
      border: 0;
      height: 32px;
      width: 180px;
      margin: $spacer-size-small 0 0 $spacer-size-big;
      padding: 0 $icon-size-large 0 $icon-size-large;
      border-radius: 16px;
      outline: none;
      background-color: $color-border-lightest;
      background-image: url("../img/icon-search-alt.png");
      background-size: $icon-size-large $icon-size-small;
      background-repeat: no-repeat;
      background-position: left center;
      text-align: center;
    }
  }

  &__options {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 180px;
    overflow: scroll;
  }

  &__optgroup {
    height: 28px;
    line-height: 28px;
    margin: 0;
    padding: 0 $spacer-size-default;
    font-size: $font-size-default;
    font-weight: $font-weight-bold;
    cursor: default;
  }

  &__option {
    height: 28px;
    line-height: 28px;
    margin: 0;
    padding: 0 $spacer-size-default;
    cursor: pointer;

    &:hover {
      background-color: $color-border-lightest;
    }

    &--selected {
      background-color: $color-border-lightest;
      background-image: url("../img/icon-tick.png");
      background-size: $icon-size-default $icon-size-tiny;
      background-repeat: no-repeat;
      background-position: center right;
      cursor: default;
    }

    & > .icon {
      vertical-align: baseline;
    }
  }
}
