.footer {
  background: $color-background-darker;
  width: 100%;
  padding: 2.8125rem 0 3rem;

  & > .container {
    display: flex;
    justify-content: space-between;
    position: relative;

    text-align: center;
    flex-direction: column;

    @include from(phablet) {
      flex-direction: row;
      text-align: left;
    }

  }

  &__module {
    font-size: $font-size-small;

    &--cards {
      position: relative;
      width: 20rem;

      & > img {
        display: block;
        width: 14rem;

        &:last-child {
          position: absolute;
          top: 0;
          left: 9rem;
        }
      }
    }

  }

  & h5 {
    color: $color-text-white;
    margin: 0 0 $spacer-size-default 0;
  }

  &__buttons {
    margin: $spacer-size-big 0 $spacer-size-default 0;

    & > .button {
      width: 8.5rem;

      &:first-child {
        margin-right: $spacer-size-small;
      }

      &:last-child {
        margin-left: $spacer-size-small;
      }
    }
  }

  &__social {
    margin-top: -1 * $spacer-size-large;
  }

  &__copyright {
    color: $color-text-lightest;
    font-size: $font-size-tiny;
    margin: $spacer-size-default 0 0 0;

    @include from(phablet) {
      position: absolute;
      bottom: 2.625rem;
      right: 1.25rem;
    }
  }
}
