.form {
  &__row {
    display: flex;
    flex-direction: column;

    @include from(phablet) {
      flex-direction: row;
    }
  }

  &__cell {
    padding: 0;
    margin: 0 0 $spacer-size-default * 2 0;
    flex-grow: 1;

    @include from(phablet) {
      &:not(:last-child) {
        padding: 0 $spacer-size-default 0 0;
      }
    }

    &--phone {

      & > select,
      & > input {
        display: inline-block;
      }

      & > select {
        width: 70px;
      }

      & > input {
        width: calc(100% - 74px);
      }
    }

    &--fullname {

      & > select,
      & > input {
        display: inline-block;
      }

      & > select {
        width: 50px;
      }

      & > input {
        width: calc(100% - 54px);
      }
    }

    &--card-number {
      & > input {
        display: inline-block;
        width: 2.5rem;
        margin: 0 $spacer-size-big 0 0;
      }
    }

    &--card-expires {
      & > select {
        width: 3.5rem;
        margin: 0 $spacer-size-big 0 0;
      }
    }

    &--card-cvv {
      & > input {
        display: inline-block;
        width: 2.5rem;
      }

      & > img {
        width: 67px;
        height: 43px;
        vertical-align: bottom;
        display: inline-block;
        margin: 0 0 0 $spacer-size-big;
      }

      & > .form__label--checkbox {
        margin-left: 1rem;

        @include from(phablet) {
          margin-left: 2.5rem;
        }
      }
    }

    &--card-submit {
      padding: 1.25rem 0 0 0;
      text-align: center;

      @include from(phablet) {
        text-align: right;
      }
    }

    &--submit {
      text-align: right;

      & > .button {
        position: relative;
        top: -2px;

        @include until(phablet) {
          width: 100%;
        }
      }

      &-wide {
        @include from(phablet) {
          min-width: 24rem;
          width: 24rem;
          flex-grow: 0;
        }
      }
    }

    &--radio {
      @include from(phablet) {
        & > .form__label {
          display: inline-block;
          margin-right: $spacer-size-default;
        }
      }
    }
  }

  &__label {
    display: block;
    font-weight: $font-weight-bold;
    font-size: 1.125rem;
    margin: 0 0 $spacer-size-small 0;

    &--checkbox {
      display: inline-block;
      font-size: $font-size-small;
      font-weight: $font-weight-base;
      vertical-align: bottom;
      margin: 0;

      & > .icon {
        vertical-align: text-bottom;
        margin: 0 $spacer-size-small 0 0;
      }
    }

    & > small {
      font-size: $font-size-default;
      color: $color-text-lightest;
    }
  }

  &__input {
    width: 100%;
    height: 40px;
    padding: $spacer-size-big 0;
    border: 0;
    border-bottom: 1px solid $color-border-default;
    outline: none;

    &:focus {
      border-bottom-color: $color-brand-primary;
    }
  }

  &__select {
    outline: none;
    border: 0;
    border-bottom: 1px solid $color-border-default;
    height: 40px;
    border-radius: 0;
    background-color: transparent;
    background-image: url("../img/icon-caret-alt.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: $icon-size-small $icon-size-small;
    width: 100%;
    -webkit-appearance: none;
    padding: $spacer-size-big 0;

    &:focus {
      border-bottom-color: $color-brand-primary;
    }
  }

  &__textarea {
    width: 100%;
    height: 120px;
    padding: $spacer-size-small $spacer-size-big;
    border: 0;
    border: 1px solid $color-border-default;
    outline: none;
    resize: none;

    &:focus {
      border-color: $color-brand-primary;
    }
  }

  &__radio {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;

    margin-right: $spacer-size-default;

    &:last-child {
      margin-right: 0;
    }


    & > input[type="radio"] {
      display: inline-block;
      visibility: hidden;
      vertical-align: middle;
      width: $icon-size-smaller;
      height: $icon-size-smaller;
      margin-right: $spacer-size-small;
      outline: none;

      &:before {
        visibility: visible;
        display: inline-block;
        width: $icon-size-smaller;
        height: $icon-size-smaller - 1;
        content: "";
        background-size: $icon-size-smaller $icon-size-smaller;
        background-repeat: no-repeat;
        background-position: left center;

        background-image: url("../img/icon-radio-off.png");
      }

      &:checked {
        &:before {
          background-image: url("../img/icon-radio-on.png");
        }
      }
    }
  }

  &__footer {
    margin: $spacer-size-default 0 0 0;
  }
}
