.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__module {

    & > h4 {
      display: inline-block;
      vertical-align: middle;
      margin: 0 2 * $spacer-size-default 0 0;
    }

    & > .button:last-child {
      margin: 0 0 0 2 * $spacer-size-default;
    }
  }
}
