.headline {
  background-color: $color-background-default;
  box-shadow: 0 2px 4px 0 $color-shadow-default;
  padding: 1rem 0;

  &--centered {
    text-align: center;

    @include from(tablet) {
      text-align: left;
    }
  }

  & > .container {
    @extend %clearfix;
  }

  &__module {
    float: left;

    &--sales {
      width: 100%;

      @include from(big) {
        width: calc(100% - 16rem - 1px);
        padding-right: 2rem;
      }
    }

    &--top {
      width: 16rem;
      padding-left: 2rem;
      border-left: 1px solid $color-border-lighter;
      display: none;

      @include from(big) {
        display: block;
      }
    }
  }

  &__description {
    @include from(tablet) {
      text-align: right;
    }
  }

  &__actions {
    margin-top: .5rem !important;

    @include from(tablet) {
      margin-top: 0 !important;
    }

    & > .button {
      min-width: 10.25rem;

      @include until(phablet) {
        &:first-child {
          margin-bottom: $spacer-size-big;
        }
      }
    }

    & > span:last-child {
      margin-left: 3rem;
    }
  }
}
