.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row wrap;

  &__title {
    width: 100%;
    margin: 0 0 $spacer-size-large 0;

    @include from(phablet) {
      width: auto;
      margin: 0 2rem 0 0;
    }

    @include from(big) {
      margin: 0 4rem 0 0;
    }

    &--alone {
      margin: 0;
    }

    & > h3 {
      color: $color-text-default;
      font-size: $font-size-oversize;
      letter-spacing: $letter-spacing-default;
      text-align: center;

      & > small {
        letter-spacing: normal;
        font-size: $font-size-small;
        color: $color-text-lightest;
        text-transform: none;
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    @include from(desktop) {
      flex-grow: 0;
    }

    & > .dropdown {
      display: block;

      @include until(phablet) {
        &:first-child {
          order: 2;
        }
        &:last-child {
          order: 1;
        }
      }
    }

    &:last-child {
      flex-grow: 1;
      justify-content: center;

      @include from(phablet) {
        justify-content: flex-end;
      }

      @include from(desktop) {
        justify-content: flex-start;
      }
    }
  }

  &__last {
    flex-grow: 1;
    text-align: right;

    @include from(phablet) {
      flex-grow: 2;
    }
  }

  // Heading variations
  &--padded {
    padding-top: 2rem;
    padding-bottom: .5rem;
  }

}
