.icon {
  display: inline-block;
  width: $icon-size-default;
  height: $icon-size-default;
  background-size: $icon-size-default $icon-size-default;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;

  // Sizes
  &--giant {
    width: $icon-size-giant;
    height: $icon-size-giant;
    background-size: $icon-size-giant $icon-size-giant;
  }

  &--huge {
    width: $icon-size-huge;
    height: $icon-size-huge;
    background-size: $icon-size-huge $icon-size-huge;
  }

  &--large {
    width: $icon-size-large;
    height: $icon-size-large;
    background-size: $icon-size-large $icon-size-large;
  }

  &--small {
    width: $icon-size-small;
    height: $icon-size-small;
    background-size: $icon-size-small $icon-size-small;
  }

  &--smaller {
    width: $icon-size-smaller;
    height: $icon-size-smaller;
    background-size: $icon-size-smaller $icon-size-smaller;
  }

  &--tiny {
    width: $icon-size-tiny;
    height: $icon-size-tiny;
    background-size: $icon-size-tiny $icon-size-tiny;
  }

  &--mini {
    width: $icon-size-mini;
    height: $icon-size-mini;
    background-size: $icon-size-mini $icon-size-mini;
  }

  &--nano {
    width: $icon-size-nano;
    height: $icon-size-nano;
    background-size: $icon-size-nano $icon-size-nano;
  }

  &--payment {
    height: $icon-size-tiny;
  }

  &--social {
    width: $icon-size-large;
    height: $icon-size-large;
    background-size: $icon-size-large $icon-size-large;
    border-radius: $icon-size-large / 2;
    border: 1px solid $color-border-icon;
    margin: 0 $spacer-size-small 0 0;
  }

  &--share {
    width: $icon-size-massive;
    height: $icon-size-massive;
    background-size: $icon-size-huge $icon-size-huge;
    border-radius: $icon-size-massive / 2;
    background-color: $color-brand-primary;
    @include from(desktop) {
      margin: 0 .5rem;
    }
  }

  &--device {
    width: $icon-size-giant;
    height: $icon-size-giant;
    background-size: $icon-size-giant $icon-size-giant;
    margin: 0 $spacer-size-default * 1.5 0 0;

    @media screen and (max-width: $viewport-desktop-default) {
      width: $icon-size-huge;
      height: $icon-size-huge;
      background-size: $icon-size-huge $icon-size-huge;
    }
  }

  &--feature {
    display: block;
    margin: 0 auto;
    width: $icon-size-feature;
    height: $icon-size-feature;
    background-size: $icon-size-feature $icon-size-feature;

    &-anyone {
      background-image: url("../img/icon-feature-anyone.png");
    }

    &-integration {
      background-image: url("../img/icon-feature-integration.png");
    }

    &-comission {
      background-image: url("../img/icon-feature-comission.png");
    }

    &-global {
      background-image: url("../img/icon-feature-global.png");
    }
  }

  &--offer {
    display: block;
    margin: 0 auto;
    width: $icon-size-huge;
    height: $icon-size-huge;
    background-size: $icon-size-huge $icon-size-huge;

    &-stores {
      background-image: url("../img/icon-offer-stores.png");
    }

    &-pickup {
      background-image: url("../img/icon-offer-pickup.png");
    }

    &-delivery {
      background-image: url("../img/icon-offer-delivery.png");
    }

    &-payment {
      background-image: url("../img/icon-offer-payment.png");
    }

    &-support {
      background-image: url("../img/icon-offer-support.png");
    }

    &-membership {
      background-image: url("../img/icon-offer-membership.png");
    }

    &-shipping {
      background-image: url("../img/icon-offer-shipping.png");
    }
  }


  // Transformations
  &--rotated {
    transform: rotate(180deg);
  }

  // Images
  &--bag {
    background-image: url("../img/icon-bag.png");
  }

  &--search {
    background-image: url("../img/icon-search.png");
  }

  &--location {
    background-image: url("../img/icon-location.png");
  }

  &--caret {
    margin: 0 0 0 -1 * $spacer-size-small;
    background-image: url("../img/icon-caret.png");
  }

  &--caret-alt {
    margin: 0 0 0 -1 * $spacer-size-small;
    background-image: url("../img/icon-caret-alt.png");
  }

  &--caret-white {
    background-image: url("../img/icon-caret-white.png");
  }

  &--caret-full {
    background-image: url("../img/icon-caret-full.png");
  }

  &--user {
    background-image: url("../img/icon-user.png");
  }

  &--tick-alt {
    background-image: url("../img/icon-tick-alt.png");
  }

  &--track {
    background-image: url("../img/icon-track.png");
  }

  &--pickup {
    background-image: url("../img/icon-pickup.png");
  }

  &--toggle {
    background-image: url("../img/icon-toggle.png");
  }

  &--filters {
    background-image: url("../img/icon-filters.png");
  }

  &--cross {
    background-image: url("../img/icon-cross.png");
  }

  &--lt {
    background-image: url("../img/icon-lt.png");
  }

  &--sale {
    background-image: url("../img/icon-sale.png");
  }

  &--sales {
    background-image: url("../img/icon-sales.png");
  }

  &--heart {
    background-image: url("../img/icon-heart.png");
  }

  &--info {
    background-image: url("../img/icon-info.png");
  }

  &--plus {
    background-image: url("../img/icon-plus.png");
  }

  &--plus-alt {
    background-image: url("../img/icon-plus-alt.png");
  }

  &--minus {
    background-image: url("../img/icon-minus.png");
  }

  &--minus-alt {
    background-image: url("../img/icon-minus-alt.png");
  }

  &--times {
    background-image: url("../img/icon-times.png");
  }

  &--radio-on {
    background-image: url("../img/icon-radio-on.png");
  }

  &--radio-off {
    background-image: url("../img/icon-radio-off.png");
  }

  &--checkbox-on {
    background-image: url("../img/icon-checkbox-on.png");
  }

  &--checkbox-off {
    background-image: url("../img/icon-checkbox-off.png");
  }

  &--pencil {
    background-image: url("../img/icon-pencil.png");
  }

  &--pencil-alt {
    background-image: url("../img/icon-pencil-alt.png");
  }

  // Payment
  &--visa {
    width: $icon-size-large;
    background-size: $icon-size-large $icon-size-tiny;
    background-image: url("../img/icon-visa.png");
  }

  &--mastercard {
    width: $icon-size-large;
    background-size: $icon-size-large $icon-size-tiny;
    background-image: url("../img/icon-mastercard.png");
  }

  &--paypal {
    width: $icon-size-huge;
    background-size: $icon-size-huge $icon-size-tiny;
    background-image: url("../img/icon-paypal.png");
  }

  // Flags
  &--flag {
    width: $icon-size-tiny;
    height: $icon-size-mini;
    background-size: $icon-size-tiny $icon-size-mini;
    margin: 0 $spacer-size-small 0 0;
    vertical-align: middle;
  }

  &--flag-uk {
    background-image: url("../img/flag-united-kingdom@2x.png");
  }

  &--flag-ue {
    background-image: url("../img/flag-united-arab-emirates@2x.png");
  }

  &--flag-ua {
    background-image: url("../img/flag-ukraine@2x.png");
  }

  &--flag-it {
    background-image: url("../img/flag-italy@2x.png");
  }

  &--flag-fr {
    background-image: url("../img/flag-france@2x.png");
  }

  // Social
  &--facebook {
    background-image: url("../img/icon-facebook.png");
  }

  &--facebook-alt {
    background-image: url("../img/icon-facebook-alt.png");
  }

  &--twitter {
    background-image: url("../img/icon-twitter.png");
  }

  &--twitter-alt {
    background-image: url("../img/icon-twitter-alt.png");
  }

  &--gplus {
    background-image: url("../img/icon-gplus.png");
  }

  &--instagram {
    background-image: url("../img/icon-instagram.png");
  }

  &--linkedin {
    background-image: url("../img/icon-linkedin.png");
  }

  &--message-alt {
    background-image: url("../img/icon-message-alt.png");
  }

  &--mail-alt {
    background-image: url("../img/icon-mail-alt.png");
  }

  // Devices

  &--android {
    background-image: url("../img/icon-android.png");
  }

  &--ios {
    background-image: url("../img/icon-ios.png");
  }


  &--chrome {
    background-image: url("../img/icon-chrome.png");
  }

  // Contacts
  &--phone {
    background-image: url("../img/icon-phone.png");
  }

  &--mail {
    background-image: url("../img/icon-mail.png");
  }

  &--viber {
    background-image: url("../img/icon-viber.png");
  }

  &--skype {
    background-image: url("../img/icon-skype.png");
  }
}
