.list {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    padding: 0 0 $spacer-size-big 0;
  }

  &--inverted {
    color: $color-text-white;

    & .list__link {
      display: block;
      color: $color-text-white;
      text-decoration: none;
      font-size: $font-size-small;
    }
  }

  &--expandable {
    & > .list__item {
      padding-left: $icon-size-small;
      background-image: url("../img/icon-expand.png");
      background-repeat: no-repeat;
      background-position: top left;
      background-size: $icon-size-small;

      & > .list {
        margin: $spacer-size-big 0 0 $spacer-size-default;
        display: none;
      }

      &--expanded {
        background-image: url("../img/icon-collapse.png");

        & > .list {
          display: block;
        }
      }
    }
  }
}
