.menu {
  width: 100%;
  // position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: $color-background-default;

  // Layout
  &__floor {

    & > .container {
      display: flex;
      flex-direction: row;
    }

    &--secondary {
      background: $color-background-darker;

      & > .container {
        color: $color-text-white;
        font-size: $font-size-tiny;
        justify-content: flex-end;
      }

      & .menu__module {
        height: 30px;
        line-height: 30px;
        padding-left: $spacer-size-default;
        cursor: pointer;
      }
    }

    &--primary {
      background: $color-background-default;
      border-bottom: 1px solid $color-background-page;
      position: relative;

      & > .container {
        justify-content: space-between;
      }

      & .menu__module {
        height: 80px;
        line-height: 80px;

        @media screen and (max-width: $viewport-phone-landscape) {
          height: 50px;
          line-height: 50px;
        }
      }
    }

    &--tabs {
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.07);

      .menu--open & {
        display: block !important;
      }
    }
  }

  // Elements
  &__module {

    &--base {
      flex-grow: 1;

      & > .icon {
        margin: 0 $spacer-size-default 0 0;
        cursor: pointer;

        @include from(desktop) {
          margin-right: $spacer-size-default * 2;
        }
      }
    }


    &--apps {
      padding: 0 0 0 $spacer-size-default * 2;
      flex-grow: 2;
    }

    &--settings {
      font-size: $font-size-small;

      & > .dropdown {
        margin: 0 0 0 $spacer-size-big;
      }
    }

    &--actions {
      font-size: $font-size-small;
      text-align: right;
      padding: 0 0 0$spacer-size-default;

      & > .button {
        margin: 0 0 0 $spacer-size-small;
      }

      & > .dropdown {
        @include from(phablet) {
          margin-right: $spacer-size-default;
        }
      }
    }

  }

  &__search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 148px;
    background: $color-background-default;
    box-shadow: 0 2px 4px $color-shadow-default;
    display: none;

    .menu--search & {
      display: block;
    }

    & > .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      position: relative;

      & > input {
        text-align: center;
        background-repeat: no-repeat;
        background-size: $icon-size-huge $icon-size-default;
        background-image: url("../img/icon-search-alt.png");
        background-position: left center;

        &:focus {
          background-size: $icon-size-default $icon-size-default;
          background-image: url("../img/icon-search.png");
          background-position: left 8px center;
        }
      }

      & > a {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
    }
  }

}
