.navbar {
  height: 4rem;
  background-color: $color-background-default;
  box-shadow: 0 2px 4px 0 $color-shadow-default;

  & > .container {
    display: flex;
    height: 100%;
    flex-direction: row;
  }

  &__label {
    display: block;
    height: 100%;
    line-height: 4rem;
    margin: 0 3rem 0 0;
    color: $color-text-lightest;
    font-size: $font-size-tiny;

    &--large {
      font-size: $font-size-oversize;
      font-weight: $font-weight-bold;
      color: $color-text-default;
      line-height: 3.875rem;
    }
  }

  &__link {
    display: block;
    height: 100%;
    line-height: 4rem;
    font-size: $font-size-small;
    letter-spacing: $letter-spacing-default;
    text-transform: uppercase;
    text-decoration: none;

    margin: 0 3rem 0 0;
    color: $color-text-default;

    &:last-child {
      margin: 0;
    }

    &--active {
      font-weight: $font-weight-bold;
    }
  }

  &__last {
    flex-grow: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: right;
  }
}
