$plate-height-mini: 5.75rem;
$plate-height-tiny: 6.25rem;
$plate-height-small: 9rem;
$plate-height-default: 10rem;
$plate-height-sale: 10.625rem;
$plate-height-big: 12.5rem;
$plate-height-large: 13.75rem;

$plate-gutter-small: .5rem;
$plate-gutter-default: 1.25rem;

.plates {
  position: relative;
  left: -1 * ($plate-gutter-small / 2);
  width: calc(100% + #{$plate-gutter-small});
  padding: 0 0 $spacer-size-default 0;

  @include from(big) {
    width: calc(100% + #{$plate-gutter-default});
  }

  &:after {
    display: table;
    content: " ";
    clear: both;
  }

  & > .button {
    display: none;
    float: left;
    margin: ($plate-height-tiny - 2.375rem + $plate-gutter-default)/2 $plate-gutter-default/2;
    width: calc(25% - #{$plate-gutter-default});

    @include between(big, huge) {
      display: block;
    }
  }
}

.plate {
  display: block;
  float: left;
  position: relative;
  margin: $plate-gutter-small / 2;
  text-decoration: none;

  //
  // Colorful category dashes
  //
  &__dash {
    background-color: $color-background-default;

    width: 1.5rem;
    height: 3px;
    margin: $spacer-size-default auto;

    @include from(tablet) {
      width: 3rem;
      height: 4px;
      margin: 1.25rem auto;
    }

    @include from(big) {
      margin: 1.5rem auto;
    }

    // Colors
    @each $name, $config in $config-categories {
      [class*="--#{$name}"] > & {
        background-color: get($config, color, primary);
      }
    }
  }

  //
  // Store plates
  //
  &.store {
    background: $color-background-default;
    box-shadow: 0px 2px 4px 0px $color-shadow-default;

    width: calc(50% - #{$plate-gutter-small});
    height: $plate-height-small;

    @include from(tablet) {
      width: calc(25% - #{$plate-gutter-small});
      height: $plate-height-default;
    }

    @include from(desktop) {
      margin: $plate-gutter-default / 2;
      width: calc(25% - #{$plate-gutter-default});
      height: $plate-height-default;
    }
  }

  // Store plates content
  &__logo {
    height: 5.5rem;
    padding: 2.25rem 0 0;

    @include from(tablet) {
      height: 6rem;
      padding: 2.75rem 0 0;
    }

    @include from(big) {
      height: 6.5rem;
      padding: 2.25rem 0 0;
    }

    & > img {
      display: block;
      margin: 0 auto;
      max-width: 74.5%;
      max-height: 2.25rem;

      @include from(big) {
        max-height: 3.25rem;
      }
    }
  }

  &__titles {
    margin: 0;
    padding: 0 $spacer-size-default;
    text-align: center;
    line-height: 0;
  }

  &__title {
    line-height: $line-height-default;
    display: inline-block;
    text-transform: uppercase;
    color: $color-text-lightest;
    letter-spacing: $letter-spacing-default;
    font-size: $font-size-tiny;

    &:not(:last-child):after {
      display: inline-block;
      content: "\00a0\00b7";
      margin-right: .1rem;
    }
  }

  &__sale {
    display: block;
    position: absolute;
    top: .375rem;
    right: .625rem;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background: $color-background-sale;
  }

  &__like {
    display: block;
    position: absolute;
    top: .375rem;
    left: .625rem;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background: $color-background-like;
  }

  //
  // Special plates
  //
  &.special {
    width: calc(100% - 8px);
    float: left;
    display: flex;
    flex-direction: column;
    background-color: $color-background-darkest;
    padding: 1.5rem 0;
    justify-content: space-between;

    @include from(tablet) {
      flex-direction: row;
    }

    @include from(desktop) {
      width: calc(100% - #{$plate-gutter-default});
      margin: $plate-gutter-default / 2;
    }

    // Special plate variations
    &--men-accessoires {
      background-image: url("../img/comp-men-accessoires.jpg");
      background-size: 100% auto;
      background-position: center center;

      @include from(tablet) {
        padding-left: 8rem;
        padding-right: 8rem;
      }

      @include from(big) {
        width: calc(50% - #{$plate-gutter-default});
        float: right;
        height: $plate-height-default;
        padding: 3rem;
      }
    }

    &--shelves {
      background-image: url("../img/comp-shelves.jpg");
      background-size: 1180px auto;

      @include from(tablet) {
        padding-left: 2.25rem;
        padding-right: 2.25rem;
      }
    }
  }

  // Special plate content
  &__module {
    text-align: center;

    @include from(tablet) {
      text-align: left;
    }

    & > h4 {
      letter-spacing: $letter-spacing-big;
      color: $color-text-white;
      margin-bottom: $spacer-size-tiny;

      @include from(tablet) {
        margin-top: $spacer-size-big;
      }

      @include from(big) {
        font-size: $font-size-larger;
      }
    }

    & > p {
      margin-bottom: 0;
      color: $color-text-white;

      @include from(big) {
        margin-top: $spacer-size-default;
      }
    }

    & > .button {
      margin-top: $spacer-size-default;

      @include from(tablet) {
        margin-top: 0;
      }
    }
  }

  //
  // Popular plates
  //
  &.popular {
    margin: $plate-gutter-small / 2;
    width: calc(50% - #{$plate-gutter-small});
    height: $plate-height-big;

    @include from(tablet) {
      height: $plate-height-large;
    }

    @include from(desktop) {
      margin: $plate-gutter-default / 2;
      width: calc(50% - #{$plate-gutter-default});
    }

    @include from(huge) {
      width: calc(33.33% - #{$plate-gutter-default});
    }

    &--quarter {
      width: calc(25% - #{$plate-gutter-small});

      @include from(desktop) {
        width: calc(25% - #{$plate-gutter-default});

        & > span + span {
          display: none;
        }
      }

    }

    // Popular plate content
    & > h3 {
      font-size: $font-size-accent;
      line-height: $line-height-accent;
      text-align: center;
      padding: 5rem 0 0 0;

      @include from(tablet) {
        font-size: $font-size-large;
        line-height: $line-height-large;
        padding: 2.25rem 3rem 0;
      }

      @include from(desktop) {
        padding: 3.75rem 0 0 0;
      }
    }

    & > span {
      font-size: $font-size-small;
      text-transform: uppercase;
      letter-spacing: $letter-spacing-accent;

      & + span {
        margin-left: $spacer-size-default;
      }
    }

    & > .plate__dash {
      height: 1px;

      @include from(tablet) {
        height: 4px;
      }
    }

    & > .plate__sale {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 2.25rem;
      top: 4.25rem;
      right: 5.5rem;
    }

    // Color popular plates
    &--color {
      background-repeat: no-repeat;
      text-align: center;

      background-size: auto 100%;
      background-position: center center;

      & > h3 {
        color: $color-text-white;
        letter-spacing: normal;
        font-weight: $font-weight-base;
        font-size: $font-size-oversize;
        letter-spacing: $letter-spacing-small + 0.5px;

        @include from(phablet) {
          font-weight: $font-weight-bold;
          letter-spacing: $letter-spacing-big;
        };

        @include from(tablet) {
          letter-spacing: $letter-spacing-large;
          font-size: $font-size-large;
        }
      }

      & > span {
        color: $color-text-white;

        & + span {
          display: none;

          @include from(tablet) {
            display: inline;
          };
        }
      }

      & > .plate__dash {
        background-color: $color-background-default;
      }

      @include between(tablet, desktop) {
        & > h3 {
          position: absolute;
          bottom: 7rem;
          width: 100%;
        }

        & > span {
          position: absolute;
          bottom: 2.8rem;
          left: 1.5rem;

          & + span {
            left: auto;
            right: 1.5rem;
          }
        }

        & > .plate__dash {
          position: absolute;
          bottom: 4.25rem;
          left: calc(50% - 1.5rem);
        }
      };

      @include from(tablet) {
        box-shadow: 0px 2px 4px 0px $color-shadow-default;
      };

      // Variations
      @each $name, $config in $config-categories {
        &.popular--#{$name} {
          background-image:
            linear-gradient(141deg,
              adjust-color(get($config, color, secondary), $alpha: -0.36) 0%,
              adjust-color(get($config, color, primary), $alpha: -0.36) 68%
            ),
            linear-gradient(0deg,
              rgba(255,255,255,0.15) 0%,
              rgba(255,255,255,.15) 100%
            ),
            url("../img/category-#{$name}.jpg"),
            linear-gradient(0deg, white 0%, white 100%),
          ;


          background-size:     get($config, size,     popular-color, phone);
          background-position: get($config, position, popular-color, phone);

          @each $viewport, $size in get($config, size, popular-color) {
            @include from($viewport) {
              background-size:     $size;
              background-position: get($config, position, popular-color, $viewport);
            }
          }
        }
      }
    }

    // White popular plates
    &--white {
      background-color: $color-background-default;
      background-repeat: no-repeat;
      box-shadow: 0px 2px 4px 0px $color-shadow-default;
      text-align: center;
      display: none; // Don't show on phone and tablet
      padding-right: 10rem;

      // Content
      & > h3 {
        padding: 3rem $spacer-size-big 0;
        font-size: $font-size-accent;
        letter-spacing: $letter-spacing-default;

        @include from(big) {
          font-size: $font-size-big;
          letter-spacing: $letter-spacing-big;
        }
      }

      & > span {
        color: $color-text-lightest;
        display: block;
        line-height: $line-height-huge-phone;
      }

      @include from(desktop) {
        display: block;
      }

      // Variations
      @each $name, $config in $config-categories {
        &.popular--#{$name} {
          @each $viewport, $size in get($config, size, popular-white-half) {
            @include from($viewport) {
              background-image:    url("../img/category-#{$name}.jpg");
              background-size:     $size;
              background-position: get($config, position, popular-white-half, $viewport);
            }
          }
        }
      }

      &.popular--quarter {
        padding-right: 3.375rem;

        & > h3 {
          letter-spacing: $letter-spacing-default;
        }

        @include from(huge) {
          display: none;
        }

        @each $name, $config in $config-categories {
          &.popular--#{$name} {
            @each $viewport, $size in get($config, size, popular-white-quarter) {
              @include from($viewport) {
                // background-image:    url("../img/category-#{$name}.jpg");
                background-size:     $size;
                background-position: get($config, position, popular-white-quarter, $viewport);
              }
            }
          }
        }
      }
    }
  }

  //
  // Category plates
  //

  $padding-category-right: 4.5rem;

  &.category {
    margin: $plate-gutter-small / 2;
    width: calc(50% - #{$plate-gutter-small});
    height: $plate-height-mini;
    background-color: $color-background-default;
    background-image: none;
    background-repeat: no-repeat;
    box-shadow: 0px 2px 4px 0px $color-shadow-default;
    text-align: center;

    @include from(phablet) {
      height: $plate-height-tiny;
      width: calc(33.33% - #{$plate-gutter-small});
      padding: 0 $padding-category-right 0 0;
    }

    @include from(desktop) {
      width: calc(25% - #{$plate-gutter-default});
      margin: $plate-gutter-default / 2;
    }

    @include from(huge) {
      width: calc(16.66% - #{$plate-gutter-default});
    }

    & > h4 {
      position: relative;
      text-transform: capitalize;
      letter-spacing: normal;
      font-size: $font-size-oversize;
      font-weight: $font-weight-base;
      padding: $spacer-size-default $spacer-size-big $spacer-size-tiny;
      background: #fff;
      z-index: 3;

      @include from(tablet) {
        padding-top: 1.125rem;
      }
    }

    & > span {
      display: block;
      position: absolute;
      top: 2.5625rem;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: $font-size-tiny;
      color: $color-text-lightest;
      text-transform: uppercase;
      letter-spacing: $letter-spacing-default;
      z-index: 2;

      @include from(phablet) {
        padding-right: $padding-category-right;
        top: 2.875rem;
      }
    }

    & > .plate__dash {
      position: absolute;
      bottom: $spacer-size-large;
      left: calc(50% - .5rem);
      width: 1rem;
      margin: $spacer-size-big auto;

      @include from(phablet) {
        width: 2rem;

        // Center minus half of width minus half of right padding
        left: calc(50% - 1rem - #{$padding-category-right / 2});
      }
    }

    & > .plate__sale {
      display: none;
      top: 1.5rem;
      right: 1rem;

      @include from(phablet) {
        display: block;
      }
    }

    // Sizes
    @include between(big, huge) {
      &--sixth {
        width: calc(16.66% - #{$plate-gutter-default});
        background: $color-background-default !important;
        padding: 0;

        & > span {
          padding: 0;
        }

        & > .plate__dash {
          left: calc(50% - 1rem);
        }
      }

      &--third {
        width: calc(33.33% - #{$plate-gutter-default});
      }
    }

    // Variations

    @each $name, $config in $config-categories {
      &.category--#{$name} {
        @each $viewport, $size in get($config, size, category) {
          @include from($viewport) {
            background-image: url("../img/category-#{$name}.jpg");
            background-size:     $size;
            background-position: get($config, position, category, $viewport);
          }
        }
      }
    }
  }


  //
  // Sale plates
  //
  &.sale {
    height: $plate-height-sale;
    box-shadow: 0px 2px 4px 0px $color-shadow-default;
    background: $color-background-default;

    margin: $plate-gutter-small / 2;
    width: calc(100% - #{$plate-gutter-small});

    @include from(phablet) {
      width: calc(50% - #{$plate-gutter-small});
    }

    @include from(tablet) {
      width: calc(33.33% - #{$plate-gutter-small});
    }

    @include from(desktop) {
      margin: $plate-gutter-default/ 2;
      width: calc(33.33% - #{$plate-gutter-default});
    }

    @include from(big) {
      width: calc(25% - #{$plate-gutter-default});
    }

    // Content
    .sale {
      &__header {
        height: 3.75rem;
        // border-bottom: 1px solid $color-border-lighter;
        box-shadow: inset 0 -1px 0 0 $color-border-lighter;
        display: flex;
        position: relative;
      }

      &__discount {
        width: 3.75rem;
        min-width: 3.75rem;
        line-height: 3.75rem;
        font-weight: $font-weight-bold;
        font-size: $font-size-big;
        text-align: center;
        background: $color-brand-primary;
        color: $color-text-white;
        padding: 0 .375rem 0 0;

        &:after {
          content: "";
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          // background: maroon;
          top: 0;
          left: 3.375rem;
          border-width: 30px 6px 30px 0;
          border-color: transparent $color-background-default transparent transparent;
          -webkit-transform:rotate(360deg);
        }

        & > sup {
          position: relative;
          top: -9px;
          left: 2px;
          font-size: $font-size-tiny;
        }
      }

      &__category {
        flex-grow: 1;
        line-height: 3.75rem;
        font-weight: $font-weight-base;
        font-size: $font-size-small;
        letter-spacing: $letter-spacing-default;
        color: $color-text-darkest;
        padding: 0 0 0 $spacer-size-big;
      }

      &__expires {
        text-align: center;
        font-size: $font-size-tiny;
        padding: $spacer-size-large $spacer-size-default;

        & > small {
          display: block;
          color: $color-text-lightest;
          line-height: .75rem;
        }
      }

      &__brand {
        height: 3.75rem;
        padding: .75rem 0;

        & > img {
          display: block;
          max-height: 2.5rem;
          width: auto;
          margin: 0 auto;
        }
      }

      &__footer {
        position: relative;
        // z-index: 2;
        height: 3.125rem;
        line-height: 3.125rem;
        font-size: $font-size-accent;
        text-align: center;
        background-color: $color-background-page;

        & > .icon {
          position: absolute;
          left: 1rem;
          top: 1rem;
          cursor: pointer;
        }
      }

      &__info {
        position: absolute;
        display: none;
        width: calc(100% - 16px);
        left: 8px;
        // width: 100%;
        // left: 0;
        top: 3.125rem;
        z-index: 1;
        background: $color-background-default;
        box-shadow: 0px 2px 4px 0px $color-shadow-default, inset 0 4px 4px -2px $color-shadow-default;
        text-align: left;
        font-size: $font-size-tiny;
        line-height: 1.25rem;
        padding: 1.25rem 1.5rem $spacer-size-small;
        cursor: pointer;

        &--open {
          display: block;
        }

        & > .icon {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

  //
  // Curation
  //
  &.curation {
    box-shadow: 0px 2px 4px 0px $color-shadow-default;
    background: $color-background-default;

    margin: $plate-gutter-small / 2;
    width: calc(100% - #{$plate-gutter-small});

    @include from(phablet) {
      width: calc(50% - #{$plate-gutter-small});
    }

    @include from(desktop) {
      margin: $plate-gutter-default / 2;
      width: calc(50% - #{$plate-gutter-default});
    }

    @include from(big) {
      width: calc(33.33% - #{$plate-gutter-default});

      &--half {
        width: calc(50% - #{$plate-gutter-default});

        & > .curation__footer {
          flex-direction: row !important;
          justify-content: space-between;
          padding: 2rem 2.25rem !important;
        }
      }
    }

    // Content
    .curation {
      &__image {
        width: 100%;

        & > img {
          width: 100%;
        }
      }

      &__footer {
        display: flex;
        flex-direction: column;
        border-top: 1px solid $color-border-lighter;
        padding: $spacer-size-large $spacer-size-default;
      }

      &__title {
        font-size: $font-size-oversize;
        line-height: $line-height-accent;
        font-weight: $font-weight-bold;
        text-transform: none;
        letter-spacing: normal;
      }

      &__price {
        color: $color-brand-primary;

        & > small {
          font-size: $font-size-small;
          color: $color-text-lighter;
        }
      }
    }
  }

  &.product {
    position: relative;
    box-shadow: 0px 2px 4px 0px $color-shadow-default;
    background: $color-background-default;


    // height: 23.75rem;
    height: 21.25rem;
    margin: $plate-gutter-small / 2;
    width: calc(50% - #{$plate-gutter-small});

    @include from(tablet) {
      height: 23.75rem;
      width: calc(33.33% - #{$plate-gutter-small});
    }

    @include from(desktop) {
      width: calc(25% - #{$plate-gutter-default});
    margin: $plate-gutter-default / 2;
    }



    // Content
    .product {
      &__image {
        background: $color-background-default;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 14.25rem;


        &--gray {
          background: $color-background-product;
        }

        & > img {
          display: block;
          max-width: 80%;
          height: auto;
          max-height: 80%;
          margin: 0 auto;
        }
      }

      &__brand {
        height: 1.875rem;
        text-align: center;
        font-size: $font-size-small;
        text-transform: uppercase;
        letter-spacing: $letter-spacing-default;
        line-height: 1.75rem;
        // padding-top: $spacer-size-tiny;
        margin: .3125rem 0 0;
        color: $color-text-lighter;

        & > img {
          display: inline-block;
          max-height: 90%;
          vertical-align: text-bottom;
          // margin-right: $spacer-size-small;
        }
      }

      &__title {
        font-weight: $font-weight-bold;
        text-transform: none;
        letter-spacing: normal;
        text-align: center;
        padding: $spacer-size-tiny $spacer-size-small 0;
        line-height: $line-height-tiny;

        @include from(tablet) {
          padding-top: $spacer-size-big;
        }
      }

      &__description {
        display: none;
        text-align: center;
        font-size: $font-size-small;
        color: $color-text-lighter;
        padding:$spacer-size-small $spacer-size-large 0;

        @include from(tablet) {
          display: block;
        }
      }

      &__price {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2.25rem;
        text-align: center;
        color: $color-brand-primary;
      }
    }
  }
}
