$plate-height-mini: 5.75rem;
$plate-height-tiny: 6.25rem;
$plate-height-small: 9rem;
$plate-height-default: 10rem;
$plate-height-big: 12.5rem;
$plate-height-large: 13.75rem;

$plate-gutter-small: .5rem;
$plate-gutter-default: 1.25rem;

.plates {
  position: relative;
  left: -1 * ($plate-gutter-small / 2);
  width: calc(100% + #{$plate-gutter-small});

  @media screen and (min-width: $viewport-desktop-big) {
    width: calc(100% + #{$plate-gutter-default});
  }

  &:after {
    display: table;
    content: " ";
    clear: both;
  }
}

.plate {
  display: block;
  float: left;
  position: relative;
  margin: $plate-gutter-small / 2;
  text-decoration: none;

  //
  // Colorful category dashes
  //
  &__dash {
    background-color: $color-background-default;

    width: 1.5rem;
    height: 3px;
    margin: $spacer-size-default auto;

    @media screen and (min-width: $viewport-tablet-portrait) {
      width: 3rem;
      height: 4px;
      margin: 1.25rem auto;
    }

    @media screen and (min-width: $viewport-desktop-big) {
      margin: 1.5rem auto;
    }

    // Colors
    @each $name, $config in $config-categories {
      [class*="--#{$name}"] > & {
        background-color: get($config, color, primary);
      }
    }
  }

  //
  // Store plates
  //
  &.store {
    background: $color-background-default;
    box-shadow: 0px 2px 4px 0px $color-shadow-default;

    width: calc(50% - #{$plate-gutter-small});
    height: $plate-height-small;

    @media screen and (min-width: $viewport-tablet-portrait) {
      width: calc(25% - #{$plate-gutter-small});
      height: $plate-height-default;
    }

    @media screen and (min-width: $viewport-desktop-default) {
      margin: $plate-gutter-default / 2;
      width: calc(25% - #{$plate-gutter-default});
      height: $plate-height-default;
    }
  }

  // Store plates content
  &__logo {
    height: 5.5rem;
    padding: 2.25rem 0 0;

    @media screen and (min-width: $viewport-tablet-portrait) {
      height: 6rem;
      padding: 2.75rem 0 0;
    }

    @media screen and (min-width: $viewport-desktop-big) {
      height: 6.5rem;
      padding: 2.25rem 0 0;
    }

    & > img {
      display: block;
      margin: 0 auto;
      max-width: 74.5%;
      max-height: 2.25rem;

      @media screen and (min-width: $viewport-desktop-big) {
        max-height: 3.25rem;
      }
    }
  }

  &__titles {
    margin: 0;
    padding: 0 $spacer-size-default;
    text-align: center;
    line-height: 0;
  }

  &__title {
    line-height: $line-height-default;
    display: inline-block;
    text-transform: uppercase;
    color: $color-text-lightest;
    letter-spacing: $letter-spacing-default;
    font-size: $font-size-tiny;

    &:not(:last-child):after {
      display: inline-block;
      content: "\00a0\00b7";
      margin-right: .1rem;
    }
  }

  &__sale {
    display: block;
    position: absolute;
    top: .375rem;
    right: .625rem;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background: $color-background-sale;
  }

  &__like {
    display: block;
    position: absolute;
    top: .375rem;
    left: .625rem;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background: $color-background-like;
  }

  //
  // Special plates
  //
  &.special {
    width: calc(100% - 8px);
    float: left;
    display: flex;
    flex-direction: column;
    background-color: $color-background-darkest;
    padding: 1.5rem 0;
    justify-content: space-between;

    @media screen and (min-width: $viewport-tablet-portrait) {
      flex-direction: row;
    }

    @media screen and (min-width: $viewport-desktop-default) {
      width: calc(100% - #{$plate-gutter-default});
      margin: $plate-gutter-default / 2;
    }

    // Special plate variations
    &--men-accessoires {
      background-image: url("../img/comp-men-accessoires.jpg");
      background-size: 100% auto;
      background-position: center center;

      @media screen and (min-width: $viewport-tablet-portrait) {
        padding-left: 8rem;
        padding-right: 8rem;
      }

      @media screen and (min-width: $viewport-desktop-big) {
        width: calc(50% - #{$plate-gutter-default});
        float: right;
        height: $plate-height-default;
        padding: 3rem;
      }
    }

    &--shelves {
      background-image: url("../img/comp-shelves.jpg");
      background-size: 1180px auto;

      @media screen and (min-width: $viewport-tablet-portrait) {
        padding-left: 2.25rem;
        padding-right: 2.25rem;
      }
    }
  }

  // Special plate content
  &__module {
    text-align: center;

    @media screen and (min-width: $viewport-tablet-portrait) {
      text-align: left;
    }

    & > h4 {
      letter-spacing: $letter-spacing-big;
      color: $color-text-white;
      margin-bottom: $spacer-size-tiny;

      @media screen and (min-width: $viewport-tablet-portrait) {
        margin-top: $spacer-size-big;
      }

      @media screen and (min-width: $viewport-desktop-big) {
        font-size: $font-size-huge-tablet;
      }
    }

    & > p {
      margin-bottom: 0;
      color: $color-text-white;

      @media screen and (min-width: $viewport-desktop-big) {
        margin-top: $spacer-size-default;
      }
    }

    & > .button {
      margin-top: $spacer-size-default;

      @media screen and (min-width: $viewport-tablet-portrait) {
        margin-top: 0;
      }
    }
  }

  //
  // Popular plates
  //
  &.popular {
    margin: $plate-gutter-small / 2;
    width: calc(50% - #{$plate-gutter-small});
    height: $plate-height-big;

    @media screen and (min-width: $viewport-tablet-portrait) {
      height: $plate-height-large;
    }

    @media screen and (min-width: $viewport-desktop-default) {
      margin: $plate-gutter-default / 2;
      width: calc(50% - #{$plate-gutter-default});
    }

    &--quarter {
      width: calc(25% - #{$plate-gutter-small});

      @media screen and (min-width: $viewport-desktop-default) {
        width: calc(25% - #{$plate-gutter-default});

        & > span + span {
          display: none;
        }
      }
    }

    // Popular plate content
    & > h3 {
      font-size: $font-size-accent;
      line-height: $line-height-accent;
      text-align: center;
      padding: 5rem 0 0 0;

      @media screen and (min-width: $viewport-tablet-portrait) {
        font-size: $font-size-large;
        line-height: $line-height-large;
        padding: 2.25rem 3rem 0;
      }

      @media screen and (min-width: $viewport-desktop-default) {
        padding: 3.75rem 0 0 0;
      }
    }

    & > span {
      font-size: $font-size-small;
      text-transform: uppercase;
      letter-spacing: $letter-spacing-accent;

      & + span {
        margin-left: $spacer-size-default;
      }
    }

    & > .plate__dash {
      height: 1px;

      @media screen and (min-width: $viewport-tablet-portrait) {
        height: 4px;
      }
    }

    & > .plate__sale {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 2.25rem;
      top: 25%;
      right: 15%;
    }

    // Color popular plates
    &--color {
      background-repeat: no-repeat;
      text-align: center;

      background-size: auto 100%;
      background-position: center center;

      @media screen and (min-width: $viewport-tablet-portrait) {
        background-size: 136% auto;
        background-position: 0 -4.375rem;
      }

      @media screen and (min-width: $viewport-desktop-default) {
        background-size: 112.5% auto;
        background-position: 0 -5.625rem;
      }

      @media screen and (min-width: $viewport-desktop-big) {
        background-size: 100% auto;
        background-position: 0 -4.25rem;
      }

      & > h3 {
        color: $color-text-white;

        @media screen and (min-width: $viewport-tablet-portrait) {
          letter-spacing: $letter-spacing-large;
        }
      }

      & > span {
        color: $color-text-white;
      }

      & > .plate__dash {
        background-color: $color-background-default;
      }

      // Variations
      @each $name, $config in $config-categories {
        &.popular--#{$name} {
          background-image:
            linear-gradient(141deg,
              adjust-color(get($config, color, secondary), $alpha: -0.36) 0%,
              adjust-color(get($config, color, primary), $alpha: -0.36) 68%
            ),
            linear-gradient(0deg,
              rgba(255,255,255,0.15) 0%,
              rgba(255,255,255,.15) 100%
            ),
            url("../img/category-#{$name}.jpg")
          ;

          background-size: get($config, size, popular-color, phone);
          background-position: get($config, position, popular-color, phone);

          @media screen and (min-width: $viewport-tablet-portrait) {
            background-size: get($config, size, popular-color, tablet);
            background-position: get($config, position, popular-color, tablet);
          }

          @media screen and (min-width: $viewport-desktop-default) {
            background-size: get($config, size, popular-color, default);
            background-position: get($config, position, popular-color, default);
          }

          @media screen and (min-width: $viewport-desktop-big) {
            background-size: get($config, size, popular-color, big);
            background-position: get($config, position, popular-color, big);
          }


        }
      }

      // &.popular--womens-fashion {
        // background-image: url("../img/popular-womens-fashion.jpg");

        // background-image:
          // rgba(255,255,255,.1),
          // linear-gradient(141deg, rgba(255,151,54,0.64) 0%, rgba(220,65,48,0.64) 68%),
          // linear-gradient(141deg, rgba(255,151,54,0.64) 0%, rgba(220,65,48,0.64) 68%),
          // linear-gradient(0deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,.5) 100%),
          // url("../img/category-womans-fashion.jpg");
      // }

      // &.popular--mens-fashion {
        // background-image: url("../img/popular-mens-fashion.jpg");
      // }

    }

    // White popular plates
    &--white {
      background-color: $color-background-default;
      background-repeat: no-repeat;
      box-shadow: 0px 2px 4px 0px $color-shadow-default;
      text-align: center;
      display: none; // Don't show on phone and tablet
      padding-right: 15%;

      &.popular--quarter {
        padding-right: 4.25%;

        & > h3 {
          letter-spacing: $letter-spacing-accent;
        }
      }

      & > h3 {
        padding: 3rem 0 0 0;
        font-size: $font-size-accent;

        @media screen and (min-width: $viewport-desktop-big) {
          font-size: $font-size-big;
        }
      }

      & > span {
        color: $color-text-lightest;
        display: block;
        line-height: $line-height-huge-phone;
      }

      @media screen and (min-width: $viewport-desktop-default) {
        display: block;
      }

      // Variations
      &.popular--electronics {
        background-image: url("../img/category-electronics.jpg");

        background-size: auto 175%;
        background-position: right -125px top -150px;

        &.popular--quarter {
          background-size: auto 100%;
          background-position: right -85px top -10px;
        }

        @media screen and (min-width: $viewport-desktop-big) {
          background-position: right -85px top -150px;
        }
      }

      &.popular--shoes {
        background-image: url("../img/category-shoes.jpg");

        background-size: auto 125%;
        background-position: right -60px top -25px;

        &.popular--quarter {
          background-size: auto 100%;
          background-position: right -100px top 4px;
        }

        @media screen and (min-width: $viewport-desktop-big) {
          background-position: right -85px top -150px;
        }
      }

      &.popular--jewelry-watches {
        background-image: url("../img/category-jewelry-watches.jpg");

        background-size: auto 150%;
        background-position: right -100px top -55px;

        &.popular--quarter {
          background-size: auto 150%;
          background-position: right -195px top -55px;
        }

        @media screen and (min-width: $viewport-desktop-big) {
          background-position: right -85px top -150px;
        }
      }
    }
  }

  //
  // Category plates
  //

  $padding-category-right: 3.5rem;

  &.category {
    margin: $plate-gutter-small / 2;
    width: calc(50% - #{$plate-gutter-small});
    height: $plate-height-mini;
    background: $color-background-default;
    box-shadow: 0px 2px 4px 0px $color-shadow-default;
    text-align: center;

    @media screen and (min-width: $viewport-tablet-portrait) {
      height: $plate-height-tiny;
      width: calc(33.33% - #{$plate-gutter-small});
      padding: 0 $padding-category-right 0 0;
    }

    @media screen and (min-width: $viewport-desktop-big) {
      margin: $plate-gutter-default / 2;
      width: calc(50% - #{$plate-gutter-default});
    }

    & > h4 {
      position: relative;
      text-transform: capitalize;
      letter-spacing: normal;
      font-size: $font-size-oversize;
      font-weight: $font-weight-base;
      padding: $spacer-size-default $spacer-size-default $spacer-size-tiny;
      background: #fff;
      z-index: 3;

      @media screen and (min-width: $viewport-tablet-portrait) {
        padding-top: 1.125rem;
      }
    }

    & > span {
      display: block;
      position: absolute;
      top: 2.5625rem;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: $font-size-tiny;
      color: $color-text-lightest;
      text-transform: uppercase;
      letter-spacing: $letter-spacing-default;
      z-index: 2;

      @media screen and (min-width: $viewport-tablet-portrait) {
        padding-right: $padding-category-right;
        top: 2.875rem;
      }
    }

    & > .plate__dash {
      position: absolute;
      bottom: $spacer-size-large;
      left: calc(50% - .5rem);
      width: 1rem;
      margin: $spacer-size-big auto;

      @media screen and (min-width: $viewport-tablet-portrait) {
        width: 2rem;

        // Center minus half of width minus half of right padding
        left: calc(50% - 1rem - 1.75rem);
      }
    }
  }
}
