.tabbar {
  width: 100%;
  display: flex;
  background: $color-background-default;
  border-bottom: 1px solid $color-border-lightest;

  &--main {
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: none;

    .tabbar__tab {
      flex-grow: 1;
      flex-basis: 50%;
      height: 66px;
      line-height: 66px;
      letter-spacing: 0.05rem;
      color: $color-text-default;

      &--active,
      &:hover {
        border-bottom-color: transparent;
        color: $color-brand-primary;
      }

      @include from(phablet) {
        flex-basis: 33.33%;
      }

      @include from(tablet) {
        flex-basis: 20%;
      }

      @include from(desktop) {
        flex-basis: auto;

        &--active,
        &:hover {
          border-bottom-color: $color-brand-primary;
          color: $color-text-default;
        }

      }

    }
  }

  &__tab {
    display: block;
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: $color-text-lightest;
    font-size: $font-size-small;
    letter-spacing: $letter-spacing-default;
    vertical-align: middle;
    height: 44px;
    line-height: 44px;
    cursor: pointer;
    white-space: nowrap;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      border-bottom: 3px solid $color-brand-primary;
      color: $color-text-default;
    }

    &--active {
      border-bottom: 3px solid $color-brand-primary;
      cursor: default;
      color: $color-text-default;
    }
  }
}
