.tabbar {
  width: 100%;
  display: flex;
  background: $color-background-default;
  justify-content: space-between;

  &__tab {
    text-align: center;
    text-decoration: none;
    color: $color-text-default;
    font-size: $font-size-small;
    vertical-align: middle;
    height: 44px;
    line-height: 44px;
    cursor: pointer;
    white-space: nowrap;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;


    &:hover {
      border-bottom: 3px solid $color-brand-primary;
    }

    &--active {
      border-bottom: 3px solid $color-brand-primary;
      cursor: default;
    }
  }
}
