$color-brand-primary:        #DC4131;
$color-brand-light:          rgba(220,65,49,.2);
$color-brand-lighter:        rgba(240,118,95,.2);

$color-background-darkest:   #272D2F;
$color-background-darker:    #383838;
$color-background-coal:      #3f3f3f;
$color-background-dark:      #4a4a4a;
$color-background-default:   #ffffff;
$color-background-light:     #dad9da;
$color-background-lighter:   #e8e8e8;
$color-background-page:      #f7f7f7;
$color-background-product:   #fafafa;
$color-background-overlay:   rgba(255,255,255,.59);
$color-background-sale:      rgba(244,17,89,.8);
$color-background-like:      #f9d6d2;

$color-border-accent:        #f73939;
$color-border-transparent:   rgba(255,255,255,.5);
$color-border-lightest:      #f0f0f0;
$color-border-lighter:       #e2e2e2;
$color-border-light:         #d9d9d9;
$color-border-default:       #cccccc;
$color-border-dark:          #686868;
$color-border-darker:        #393939;
$color-border-icon:          #979797;
$color-border-dotted1:       #e6e6e6;
$color-border-dotted2:       #272D2F;

$color-shadow-default:       rgba(204,204,204,.5);
$color-shadow-accent:        rgba(220,65,48,.64);

$color-text-white:           #ffffff;
$color-text-lightest:        #9b9b9b;
$color-text-lighter:         #8e8e92;
$color-text-light:           #666666;
$color-text-default:         #4a4a4a;
$color-text-dark:            #333333;
$color-text-darker:          #1d1d26;
$color-text-darkest:         #000000;

$color-temp-bg:              rgba(255,0,255,.2);
$color-temp-accent:          rgba(255,0,255,.5);
$color-temp-inverse:         #ffffff;

$color-link-default:         $color-brand-primary;
$color-link-hover:           darken($color-brand-primary, 5);
$color-link-active:          darken($color-brand-primary, 5);
$color-link-visited:         lighten($color-brand-primary, 5);

$color-gradient1-tl:         rgba(255,152,54,.64);
$color-gradient1-br:         rgba(220,65,49,.64);
$color-gradient2-tl:         rgba(247,73,32,.7);
$color-gradient2-br:         rgba(254,38,15,.7);
