$color-brand-primary:     #386681;
$color-brand-highlight:   #fff;
$color-brand-shadow:      #fff;
$color-brand-accent:      #FF0F50;

$color-background-default:        #fff;

$color-text-default:         #333;

$color-temp-bg:           rgba(255,0,255,.2);
$color-temp-accent:       rgba(255,0,255,.5);
$color-temp-inverse:      #fff;

$color-link-default:      #00f;
$color-link-hover:        #f00;
$color-link-active:       #f00;
$color-link-visited:      #f0f;
