$font-family-sans-serif:    "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:         Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:     Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:          $font-family-sans-serif !default;

$font-size-root:            16px !default;

$font-size-default:            1rem !default;
$font-size-accent:            1.25rem !default;
$font-size-big:             1.5rem !default;
$font-size-large:           1.875rem !default;
$font-size-huge:            3rem !default;
$font-size-small:           .875rem !default;
$font-size-tiny:            .75rem !default;

$font-weight-base:          400 !default;
$font-weight-light:         300 !default;
$font-weight-bold:          500 !default;

$line-height-default:          1.5 !default;

$letter-spacing-huge:       6px;
$letter-spacing-large:       5.5px;
$letter-spacing-big:       4px;
$letter-spacing-accent:       2.5px;
