$font-family-sans-serif:    "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:         Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:     Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:          $font-family-sans-serif !default;

$font-size-root:            16px !default;

$font-size-base:            1rem !default;
$font-size-large:           1.25rem !default;
$font-size-huge:            1.5rem !default;
$font-size-small:           .85rem !default;
$font-size-tiny:            .75rem !default;

$font-weight-base:          400 !default;
$font-weight-light:         300 !default;
$font-weight-bold:          500 !default;

$line-height-base:          1.5 !default;
