$icon-size-default: 24px !default;

$spacer-size-default: 1rem;
$spacer-width-checkbox: 1.7rem;
$spacer-vertical-default: .25rem;
$spacer-vertical-small: .125rem;

$thumbnail-size-default: 200px !default;
$thumbnail-size-circle: 200px !default;
