$spacer-size-default:       1rem;
$spacer-width-checkbox:     1.35rem;
$spacer-vertical-paragraph: 1.5rem;
$spacer-size-large:         .75rem;
$spacer-size-big:           .5rem;
$spacer-size-small:         .25rem;
$spacer-size-tiny:          .125rem;
$spacer-horizontal-page:    1rem;

$max-width-paragraph:       54em;

$container-width-huge:      100rem;
$container-width-large:     90rem;
$container-width-big:       73.75rem;
$container-width-default:   61.25rem;
$container-width-portrait:  46.125rem;

$viewport-desktop-huge:     1920px;
$viewport-desktop-large:    1600px;
$viewport-desktop-big:      1366px;
$viewport-desktop-default:  1024px;

$viewport-tablet-portrait:  768px;
$viewport-phone-landscape:  640px;
$viewport-phone-portrait:   320px;

$thumbnail-size-default:    200px;
$thumbnail-size-circle:     200px;
$thumbnail-size-avatar:     50px;

$icon-size-giant:           72px;
$icon-size-huge:            48px;
$icon-size-large:           36px;
$icon-size-default:         32px;
$icon-size-small:           24px;
$icon-size-tiny:            16px;
$icon-size-mini:            12px;
