<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta http-equiv="cleartype" content="on">
  <meta name="msapplication-tap-highlight" content="no">

  <title>ZIZIUP</title>

  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900" rel="stylesheet">
  <link rel="stylesheet" href="../%CSSPATH%">
</head>
<body class="landing">
  <div class="landing__menu">
    <div class="container">
      <a href="javascript:;" class="landing__menutoggle">
        <i class="icon icon--toggle"></i>
      </a>
      <div class="landing__menuitem landing__menuitem--main">
        <a href="#" class="logo">Logo</a>
      </div>
      <div class="landing__menuitem">
        <a href="#" class="landing__menulink">About</a>
      </div>
      <div class="landing__menuitem">
        <a href="#" class="landing__menulink">How it works</a>
      </div>
      <div class="landing__menuitem">
        <a href="#" class="landing__menulink">Membership</a>
      </div>
      <div class="landing__menuitem">
        <a href="#" class="landing__menulink">Contacts</a>
      </div>
    </div>
  </div>
  <section class="landing__section landing__section--start">
    <div class="container">
      <h1>Shop<br>US stores<br><small>from anywhere</small></h1>
      <p>Save money on delivery. Get the best goods in your city. Just download our app or use browser plugin to start.</p>
      <a href="#" class="landing__button">I want it</a>
      <img class="landing__map" src="../img/landing-map.jpg" />
      <div class="landing__badge">
        <h4>Accessoires</h4>
        <p>
          14 stores<br>
          234 orders this week
        </p>
      </div>
      <img class="landing__trail" src="../img/landing-trail.png">
    </div>
  </section>
  <section class="landing__section landing__section--get">
    <div class="container">
      <img class="landing__screens" src="../img/landing-screens.png">
      <div class="landing__description">
        <h2>What you get?</h2>
        <p>You will get any good from our partner’s store with very small  shipping rate. You will get items that are not regularly shipping  to&nbsp;your country. And you will get your order just in 10-15 days.  Sound good, right?</p>
        <p>How we can do it? Because of warehouse network and smart logistic decision we collect large parcels and haven’t to ship particular orders.</p>
        <h3>Available soon for:</h3>
        <i class="icon icon--device icon--android"></i>
        <i class="icon icon--device icon--ios"></i>
        <i class="icon icon--device icon--chrome"></i>
      </div>
    </div>
  </section>
  <section class="landing__section landing__section--how">
    <div class="container">
      <h2>How it works</h2>
      <div class="landing__switch">
        <a class="landing__button" href="javascript:;">Web</a>
        <a class="landing__button landing__button--off" href="javascript:;">Mobile</a>
      </div>
      <div class="landing__steps landing__steps--web">
        <div class="landing__step landing__step--web">
          <img src="../img/landing-step-install-web.png" alt="Install&nbsp;Chrome&nbsp;Plugin">
          <h3>Install&nbsp;Chrome&nbsp;Plugin</h3>
          <p>Download our Chrome Plugin to start your excellent shopping experience.</p>
        </div>
        <div class="landing__step landing__step--web">
          <img src="../img/landing-step-shop-web.png" alt="Shop">
          <h3>Shop</h3>
          <p>You will have millions of goods on our partners stores&nbsp;&mdash;&nbsp;just chose a store and enjoy shopping.</p>
        </div>

        <div class="landing__step landing__step--mobile">
          <img src="../img/landing-step-install-mobile.png" alt="Download&nbsp;the&nbsp;Application">
          <h3>Download&nbsp;Application</h3>
          <p>You will easily find our app for iOS on Apple Store and  on Play Store for Android.</p>
        </div>
        <div class="landing__step landing__step--mobile">
          <img src="../img/landing-step-shop-mobile.png" alt="Shop">
          <h3>Shop</h3>
          <p>You will have millions of goods on our partners stores&nbsp;&mdash;&nbsp;just chose a store and enjoy shopping.</p>
        </div>

        <div class="landing__step">
          <img src="../img/landing-step-checkout.png" alt="Checkout&nbsp;&amp;&nbsp;Payments">
          <h3>Checkout&nbsp;&amp;&nbsp;Payments</h3>
          <p>Export your cart from partners store into your app. Checkout and pay!</p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
